
html, body{
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
} 
  
/* ==========================================================================
SELECT TO JS
========================================================================== */

  .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0; width: 100% !important;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block; padding: 4px 10px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #CFCFCF;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -10px;
      margin-top: 3px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }





/* ==========================================================================
FORM
========================================================================== */
.kesato-form, 
.kesato-form *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kesato-form { }

.smart-container{}

/* @form container width 
/* @if you want to change the form container width change the values below 
/* @alternatively you can add yours eg .wrap4{ max-width:200px; } 
---------------------------------------------------------------------------- */
.wrap-0{ max-width:952px; }
.wrap-1{ max-width:852px; }
.wrap-2{ max-width:652px; }
.wrap-3{ max-width:452px; }

/* @form helper classes 
--------------------------------------------------------------- */
.kesato-form .section{ margin-bottom:22px; }
.kesato-form .smart-link{ color:#ee5b2c; text-decoration:none; }
.kesato-form .smart-link:hover{ text-decoration: underline; }
.kesato-form .tagline{ height:0; border-top:1px solid #CFCFCF; text-align:center;  }
.kesato-form .tagline span{ 
  text-transform:uppercase; 
  display:inline-block;
  position:relative;
  padding:0 15px; 
  background:#fff; 
  color:#ee5b2c;
  top:-10px;  
}

/* @form label + field :: field class is useful for validation 
---------------------------------------------------------------------- */
.kesato-form .field{ display:block; position:relative; }
.kesato-form .field-icon i { color:#BBB; position:relative; }
.kesato-form .field-label { display: block; margin-bottom: 7px; }
.kesato-form .field-label.colm{ padding-top:12px; }
.kesato-form .field-label em{ 
  color:#e74c3c;
  font-size:14px;
  font-style:normal;
  display:inline-block;
  margin-left:4px;
  position:relative; 
  top:3px;  
}

/* @form header section 
----------------------------------------- */
.kesato-form .form-header{ 
  overflow:hidden;
  position:relative;
  padding:25px 30px;
  -webkit-border-radius:5px 5px 0 0 ;
  -moz-border-radius:5px 5px 0 0 ;
  -o-border-radius:5px 5px 0 0 ;
  border-radius:5px 5px 0 0 ;
}
  
.kesato-form .form-header h4 { 
  text-align:left;
  font-weight:300; 
  font-size:32px; 
  padding:0;
  margin:0;
     
}

.kesato-form .form-header h4 i { 
  font-size:38px;
  position:relative; 
  margin-right:10px;
  top:2px; 
}

/* @header themes :: primary + lite 
---------------------------------------------- */
.kesato-form .header-primary {}

.kesato-form .header-lite{ 
  background:#F3F5FA;
  border-top:1px solid #A7D065; 
  border-bottom:1px solid #D9DDE5; 
}

.kesato-form .header-lite:before{
  content:"";
  background-color:#ee5b2c;  
  position:absolute;
  height:8px;  
  z-index:1; 
  top:0px;
  right:0;  
  left:0;
}

.kesato-form .header-primary h4{ color:#fff; }
.kesato-form .header-lite h4{ color:#5D6A87; padding-top:5px; }

/* @remove rounded corners form headers 
----------------------------------------------------------------- */
.smart-flat, 
.smart-flat .form-header{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
}

/* @form body + footer 
------------------------------------------------------------------- */  
/* .kesato-form .form-body{ padding:40px 30px; padding-bottom:20px; } */
.kesato-form .form-footer {
  overflow:hidden;
}

/* @crossbrowser placeholder styling :: modern browsers only IE10+
------------------------------------------------------------------------ */
.kesato-form input[type=search] { -webkit-appearance: textfield; }
.kesato-form ::-webkit-search-decoration, 
.kesato-form ::-webkit-search-cancel-button { -webkit-appearance: none; }
.kesato-form input:invalid { -moz-box-shadow: none; box-shadow: none;  }
.kesato-form input::-webkit-input-placeholder,
.kesato-form textarea::-webkit-input-placeholder { color: #AAAAAA; }
.kesato-form input:focus::-webkit-input-placeholder,
.kesato-form textarea:focus::-webkit-input-placeholder { color: #D6DBE0; }
.kesato-form input:-moz-placeholder,
.kesato-form textarea:-moz-placeholder { color: #AAAAAA; }
.kesato-form input:focus:-moz-placeholder,
.kesato-form textarea:focus:-moz-placeholder { color: #D6DBE0; }
.kesato-form input::-moz-placeholder,
.kesato-form textarea::-moz-placeholder { color: #AAAAAA; opacity: 1; }
.kesato-form input:focus::-moz-placeholder,
.kesato-form textarea:focus::-moz-placeholder { color: #D6DBE0; opacity: 1; }
.kesato-form input:-ms-input-placeholder,
.kesato-form textarea:-ms-input-placeholder { color: #AAAAAA; }
.kesato-form input:focus:-ms-input-placeholder,
.kesato-form textarea:focus:-ms-input-placeholder { color: #D6DBE0; }

/* @element general styling :: fonts :: adjust accordingly
------------------------------------------------------------- */
.kesato-form label, 
.kesato-form input,
.kesato-form button,
.kesato-form select,  
.kesato-form textarea {
  margin: 0;  
  font-size: 13px;
  color: #777;
  outline:none;
}

/* @remove browser specific styling
----------------------------------------------- */
.kesato-form .gui-input,
.kesato-form .gui-textarea,
.kesato-form .select > select,
.kesato-form input[type="button"],
.kesato-form input[type="submit"],
.kesato-form input[type="search"],
.kesato-form .select-multiple select {
  -webkit-tap-highlight-color:transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius:0px;
  border-radius: 0px;
}

.kesato-form input[type="search"]::-webkit-search-decoration,
.kesato-form input[type="search"]::-webkit-search-cancel-button,
.kesato-form input[type="search"]::-webkit-search-results-button,
.kesato-form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* @labels font-size styling :: adjust to fit your needs 
--------------------------------------------------------- */
.kesato-form .switch, 
.kesato-form .option,
.kesato-form .field-label{ font-size:14px; }

/* @prevent user selection for usability purposes
----------------------------------------------------- */
.kesato-form .radio,
.kesato-form .button,  
.kesato-form .checkbox,
.kesato-form .select .arrow,
.kesato-form .switch > label,
.kesato-form .ui-slider .ui-slider-handle{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* @universal rules for all elements 
---------------------------------------------------- */
.kesato-form .radio,
.kesato-form .button,
.kesato-form .tooltip,
.kesato-form .checkbox,  
.kesato-form .gui-input,
.kesato-form .notification,
.kesato-form .gui-textarea,
.kesato-form .select > select,
.kesato-form .select-multiple select{ 
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline:none;
}

/* @control border-size :: color etc for these elements 
----------------------------------------------------------- */
.kesato-form .select,
.kesato-form .gui-input,
.kesato-form .gui-textarea,
.kesato-form .select > select,
.kesato-form .select-multiple select{
  background: #fff;
  position: relative;
  vertical-align: top;
  border: 1px solid #CFCFCF;
  display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
  color: #626262;
  outline:none;
  height: 42px;
  width: 100%;
  *zoom: 1;
}

/* @styling inputs and textareas 
------------------------------------------- */
.kesato-form .gui-input, 
.kesato-form .gui-textarea { padding:10px 15px; }
.kesato-form .gui-textarea {    
    resize: none;
  line-height: 19px;
  overflow: auto;
  max-width:100%;
    height: 96px;
}

/* @hint below textareas 
---------------------------------------- */
.kesato-form .input-hint {
    padding: 10px;
  display: block;
  margin-top: -1px;
  line-height: 16px;
  position: relative; 
    background: #F5F5F5;
    border: 1px solid #CFCFCF;     
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
    font-size: 11px;
    color: #999;
}

/* @form selects :: dropdowns 
-------------------------------------------------- */
.kesato-form .select { border:0; z-index:10; }
.kesato-form .select > select {
  display: block;
    padding:9px 10px; 
    color: #626262;
    background: none;
     border: 1px solid #CFCFCF; 
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:normal;
  outline:none;
  text-indent: 0.01px;
    text-overflow: ''; 
  z-index:10;
  margin: 0;  
}

.kesato-form .select > select::-ms-expand { display: none; }
.kesato-form .select .arrow {
  position: absolute;
  top: 9px;
  right: 4px;
  width: 24px;
  height: 24px;
  color:#9F9F9F;
  pointer-events:none;
  z-index:16;
}

.kesato-form .select .arrow:after,
.kesato-form .select .arrow:before {
  content: '';
  position: absolute;
  /*
  font:12px "Consolas", monospace;
  */
  font-family: 'FontAwesome';
  font-style:normal;
  pointer-events:none;
  display:none\9;
  left:5px;
  
}

.kesato-form .select .arrow:before { content:'\f107'; bottom:4px; }
.kesato-form .select .double:after { content:'\25B2'; top:-1px;  }
.kesato-form .select .double:before { content:'\25BC'; bottom:-1px; }
.kesato-form .select-multiple select { 
  width:100%; 
  height: 123px;
  padding: 10px;
}

/* @file inputs :: file uploaders 
-------------------------------------------------------- */
.kesato-form .file{ display:block; width:100%; }
.kesato-form .file .gui-file{
  width:100%;
  height:100%;
  cursor:pointer;
  padding:8px 10px;
  position:absolute;
  -moz-opacity:0;
  opacity: 0;
  z-index:11;
  bottom:0; 
  right:0;
}

.kesato-form .file .button {
  position: absolute;
  top: 4px;
  right: 4px;
  float: none;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  z-index:10;
}

/* @form element :hover state 
-------------------------------------------- */
.kesato-form .gui-input:hover,
.kesato-form .gui-textarea:hover,
.kesato-form .select > select:hover,
.kesato-form .select-multiple select:hover, 
.kesato-form .gui-input:hover ~ .input-hint,
.kesato-form .file .gui-file:hover + .gui-input,
.kesato-form .gui-textarea:hover ~ .input-hint{
  border-color: #6BC868;
}

/* @form element :focus state 
-------------------------------------------------------- */
.kesato-form .gui-input:focus,
.kesato-form .gui-textarea:focus,
.kesato-form .select > select:focus,
.kesato-form .select-multiple select:focus{ 
    color: #3c3c3c;
    background: #fff;
  border:1px solid #ee5b2c;
  -webkit-box-shadow:0px 0px 3px #ee5b2c inset; 
  -moz-box-shadow:0px 0px 3px #ee5b2c inset;  
  -o-box-shadow:0px 0px 3px #ee5b2c inset;  
  box-shadow:0px 0px 3px #ee5b2c inset;
    outline: none; 

}

.kesato-form .select > select:focus { 
  z-index:10;
  z-index:20\9;
}

/*
.kesato-form .gui-textarea:focus{  height: 120px; }
*/
.kesato-form .select > select:focus { z-index:10; z-index:20\9; }
.kesato-form .gui-input:focus ~ .field-icon i,
.kesato-form .gui-textarea:focus ~ .field-icon i{ color:#ee5b2c; }
.kesato-form .select-multiple select:focus, 
.kesato-form .gui-input:focus ~ .input-hint,
.kesato-form .gui-textarea:focus ~ .input-hint, 
.kesato-form .file .gui-file:focus + .gui-input{ border-color: #ee5b2c; }
.kesato-form .select > select:focus + .arrow{ color:#ee5b2c; }


/* @radio + checkbox option elements 
----------------------------------------------------- */ 
.kesato-form .option {
    position: relative; 
  padding-right:15px;    
  display: inline-block;
    vertical-align: middle;
}
.kesato-form .option > input {
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0;
  left: 0;
}

.kesato-form .checkbox, 
.kesato-form .radio { 
  position:relative;
  margin-right:2px;
  background: #fff;
  display: inline-block;
    border: 3px solid #CFCFCF;  
  height: 21px;
  width: 21px;
  top:4px;  
}

.kesato-form .checkbox:before, 
.kesato-form .radio:before {
    content: '';
    display: none;
}

.kesato-form input:checked + .checkbox:before, 
.kesato-form input:checked + .radio:before {
    display: block;
}

.kesato-form .checkbox:before {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 6px;
    height: 3px;
    border: solid #ee5b2c;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kesato-form input:checked + .checkbox, 
.kesato-form input:checked + .radio{ border: 3px solid #ee5b2c; }
.kesato-form .radio { 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  -o-border-radius: 20px; 
  border-radius: 20px;
 
}
.kesato-form .radio:before {
    margin: 4px;
    width: 7px;
    height: 7px;
    background: #ee5b2c;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  -o-border-radius: 10px; 
  border-radius: 10px;
}


/* @radio + checkbox :hover state 
-------------------------------------------------- */
.kesato-form input:hover + .checkbox, 
.kesato-form input:hover + .radio{
    border-color:#6BC868;
  
}

/* @radio + checkbox :focus state 
--------------------------------------------------- */
.kesato-form input:focus + .checkbox, 
.kesato-form input:focus + .radio{ border-color: #ee5b2c; }
.kesato-form input:focus + .radio:before{ background: #ee5b2c; }
.kesato-form input:focus + .checkbox:before{ border-color: #ee5b2c; }

/* @toggle switch elements 
-------------------------------------------------- */
.kesato-form .switch { 
  cursor:pointer; 
  position: relative; 
  padding-right:10px;
    display: inline-block;
  margin-bottom:5px;
  height: 26px;
}
.kesato-form .switch > label {
  cursor:pointer;
    display: inline-block;
    position: relative;
    height: 25px;
  width: 58px;
  color: #fff;
    font-size: 10px;
    font-weight: bold;
  line-height: 20px;
    text-align: center;
    background: #D7D7D7;
    border: 2px solid #D7D7D7;
  text-transform: uppercase;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  
}
.kesato-form .switch > label + span{ display:inline-block; padding-left:5px; position:relative; top:-7px; }
.kesato-form .switch > label:before {
    content: attr(data-off);
    position: absolute;
    top: 1px;
    right: 3px;
    width: 33px;
}

.kesato-form .switch > label:after {
  content:""; 
    margin: 1px;
    width: 19px;
    height: 19px;
  display: block;
    background: #fff;
}

.kesato-form .switch > input {
  -webkit-appearance: none;
  position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
  left: 0;
  top: 0;
   
}

/* @toggle switch focus state 
-------------------------------------------------------------- */
.kesato-form .switch > input:focus { outline: none; }
.kesato-form .switch > input:focus + label { color: #fff; border-color: #C7C7C7; background:#C7C7C7; }
.kesato-form .switch > input:focus + label:after { background: #fff; }

/* @toggle switch normal state 
--------------------------------------------------------------- */
.kesato-form .switch > input:checked + label {
    border-color: #ee5b2c;
  background: #ee5b2c; 
  padding-left: 33px;
  color: white;
}

.kesato-form .switch > input:checked + label:before {
    content: attr(data-on);
    left: 1px;
  top:1px;
}

.kesato-form .switch > input:checked + label:after {
    margin: 1px;
    width: 19px;
    height: 19px;
    background: white;
}

/* @toggle switch normal state focus 
--------------------------------------------------------------------------------- */
.kesato-form .switch > input:checked:focus + label { background: #3c9b39; border-color: #3c9b39; }
.kesato-form .switch-round > label { 
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px; 
}
.kesato-form .switch-round > label + span{ top:-2px; }
.kesato-form .switch-round > label:before { width: 33px; }
.kesato-form .switch-round > label:after {
    width: 19px;
  color:#D7D7D7;
  content: "\2022";
  font:20px/20px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}

.kesato-form .switch-round > input:checked + label { padding-left: 33px; }
.kesato-form .switch-round > input:checked + label:after{ color:#ee5b2c; }

/* @buttons 
----------------------------------------------------- */
.kesato-form .button {
    border: 0;
  color: #243140;
  line-height: 1;
  font-size:13px; 
    cursor: pointer;
  padding: 10px 14px;
  text-align: center;
  vertical-align: top;
    background: #DBDBDB;
  display: inline-block;
  -webkit-user-drag: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2); 
  border-radius:3px;
}

/* @buttons :hover, :active states 
---------------------------------------------------------------- */
.kesato-form .button:hover { color: #243140; background: #E8E8E8; }
.kesato-form .button:active{ color: #1d2938; background: #C4C4C4; }
.kesato-form a.button, 
.kesato-form span.button, 
.kesato-form label.button { line-height: 42px; text-decoration: none; }
.kesato-form .button i{ font-size:14px; }
.kesato-form .button-list .button{ margin-bottom:5px; }

/* @primary button theme
-------------------------------------------- */
.kesato-form .btn-primary {  background-color: #ee5b2c;  border: 1px solid transparent; }
.kesato-form .btn-primary:hover,
.kesato-form .btn-primary:focus { background-color: white; color: #ee5b2c !important; border: 1px solid #ee5b2c; }
.kesato-form .btn-primary:active{ background-color: #ee5b2c; }
.kesato-form .btn-primary, 
.kesato-form .btn-primary:hover,
.kesato-form .btn-primary:focus, 
.kesato-form .btn-primary:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08); }

.kesato-form .btn-cancel { background: none; border: 1px solid #CFCFCF; color: #777; }
.kesato-form .btn-cancel:hover { cursor: pointer; background: none; }


/* @rounded buttons 
-------------------------------------------- */
.kesato-form .btn-rounded{ 
  -webkit-border-radius:22px;
  -moz-border-radius:22px;
  -o-border-radius:22px;
  border-radius:22px;  
}

/* @left + right buttons :: look like IOS
-------------------------------------------- */
.kesato-form .button-left, 
.kesato-form .button-right {
    position: relative;
  z-index:9;
}

.kesato-form .button-left:before, 
.kesato-form .button-right:before {
    content:'';
    z-index:-1;
    width: 32px;
    height: 32px;
  position: absolute;
    background-color: inherit;
  border-color: inherit;  
    border: none;
  top: 5px;
}

.kesato-form .button-left {
    border-left-width: 0; 
  padding: 0 18px 0 7px;
    -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin-left:20px;
}

.kesato-form .button-left:before {
    left: -15px;
    -webkit-border-radius: 2px 5px 0 5px;
  -moz-border-radius: 2px 5px 0 5px;
  -o-border-radius: 2px 5px 0 5px;
  border-radius: 2px 5px 0 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kesato-form .button-right {
    padding: 0 7px 0 18px;
    border-right-width: 0;
    -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin-right:20px;
}

.kesato-form .button-right:before {
    right: -15px;
    -webkit-border-radius: 5px 2px 5px 0;
  -moz-border-radius: 5px 2px 5px 0;
  -o-border-radius: 5px 2px 5px 0;
  border-radius: 5px 2px 5px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* @left right button pointed button shapes 
------------------------------------------------ */
.kesato-form .btn-pointed.button-left, 
.kesato-form .btn-pointed.button-right{ 
  -webkit-border-radius:22px;
  -moz-border-radius:22px;
  -o-border-radius:22px; 
  border-radius:22px;  
}

.kesato-form .btn-rounded.button-left{ 
  -webkit-border-radius: 0 22px 22px 0;
  -moz-border-radius: 0 22px 22px 0;
  -o-border-radius: 0 22px 22px 0; 
  border-radius: 0 22px 22px 0;  
}

.kesato-form .btn-rounded.button-right{
  -webkit-border-radius: 22px 0 0 22px;
  -moz-border-radius: 22px 0 0 22px;
  -o-border-radius: 22px 0 0 22px;
  border-radius: 22px 0 0 22px; 
}

/* @push buttons
------------------------------------------------ */
.kesato-form .pushed { 
  -webkit-box-shadow:inset 0 -0.3em 0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 -0.3em 0 rgba(0,0,0,0.2);
  -o-box-shadow:inset 0 -0.3em 0 rgba(0,0,0,0.2);
  box-shadow:inset 0 -0.3em 0 rgba(0,0,0,0.2);
  position:relative;
}

.kesato-form .pushed:active{
  -webkit-box-shadow:inset 0 -0.15em 0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 -0.15em  0 rgba(0,0,0,0.2);
  -o-box-shadow:inset 0 -0.15em  0 rgba(0,0,0,0.2);
  box-shadow:inset 0 -0.15em  0 rgba(0,0,0,0.2);
  top:2px;
}

.kesato-form .pushed.button-left:before {
  -webkit-box-shadow:inset 0.35em 0  0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0.35em 0 0 rgba(0,0,0,0.2);
  -o-box-shadow:inset 0.35em 0 0 rgba(0,0,0,0.2);
  box-shadow:inset 0.35em 0 0 rgba(0,0,0,0.2);  
}

.kesato-form .pushed:active.button-left:before{
  -webkit-box-shadow:inset 0.2em 0  0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0.2em 0  0 rgba(0,0,0,0.2);
  -o-box-shadow:inset 0.2em 0  0 rgba(0,0,0,0.2);
  box-shadow:inset 0.2em 0  0 rgba(0,0,0,0.2);
}

.kesato-form .pushed.button-right:before {
  -webkit-box-shadow:inset  -0.35em 0  0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset -0.35em 0  0  rgba(0,0,0,0.2);
  -o-box-shadow:inset -0.35em 0  0  rgba(0,0,0,0.2);
  box-shadow:inset -0.35em 0  0  rgba(0,0,0,0.2); 
}

.kesato-form .pushed:active.button-right:before{
  -webkit-box-shadow:inset -0.2em 0  0 rgba(0,0,0,0.2);
  -moz-box-shadow:inset -0.2em 0  0 rgba(0,0,0,0.2);
  -o-box-shadow:inset -0.2em 0  0 rgba(0,0,0,0.2);
  box-shadow:inset -0.2em 0  0 rgba(0,0,0,0.2);
}

/* @adjust buttons in form footer
------------------------------------------------ */
.kesato-form .form-footer .button{ margin-right:10px; margin-bottom:5px; }
.kesato-form .align-right .button{ margin-right:0; margin-left:10px; }

/* @social buttons :: facebook :: twitter :: google +
---------------------------------------------------- */
.kesato-form .twitter, 
.kesato-form .twitter:hover, 
.kesato-form .twitter:focus,
.kesato-form .facebook, 
.kesato-form .facebook:hover, 
.kesato-form .facebook:focus,
.kesato-form .googleplus,
.kesato-form .googleplus:hover, 
.kesato-form .googleplus:focus { color:#fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08); } 
.kesato-form .facebook { background-color:#3b5998; }
.kesato-form .twitter { background-color:#00acee;  }
.kesato-form .googleplus { background-color:#dd4b39; }
.kesato-form .facebook:hover, 
.kesato-form .facebook:focus { background-color:#25385F;  }
.kesato-form .twitter:hover, 
.kesato-form .twitter:focus { background-color:#00749F;  }
.kesato-form .googleplus:hover, 
.kesato-form .googleplus:focus { background-color:#8D2418;  }
.kesato-form .span-left{ padding-left:52px; text-align:left; }
.kesato-form .btn-social { position:relative; margin-bottom:5px;  }
.kesato-form .btn-social i{ font-size:22px; position:relative; top:2px;    }
.kesato-form .btn-social span{
  -webkit-border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  -o-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;  
  display:inline-block; 
  text-align:center; 
  position:absolute;
  width:42px; 
  left:0; 
}

.kesato-form .twitter span{ background-color:#009AD5; }
.kesato-form .facebook span{ background-color:#31497D; }
.kesato-form .googleplus span{ background-color:#C03121; }

/* @rating and review star widget :: with hover back afetr selecting
------------------------------------------------------------------------ */
.kesato-form .rating { overflow: hidden; }
.kesato-form .rating.block { display:block; margin:10px 0; }
.kesato-form .rating label{color: #A2A6A8;} 
.kesato-form .rating label i{ font-size:17px; text-align:center; color:inherit;  }
.kesato-form .rating label span{ font:22px/22px; }
.kesato-form .rating-star{ margin-left:4px; }
.kesato-form .rating-input { position: absolute; left:-9999px; top: auto; }
.kesato-form .rating:hover .rating-star:hover,
.kesato-form .rating:hover .rating-star:hover ~ .rating-star,
.kesato-form .rating-input:checked ~ .rating-star { color: #ee5b2c; }
.kesato-form .rating-star, 
.kesato-form .rating:hover .rating-star { 
  width: 18px;
  float: right;
  display: block;
  cursor:pointer;
  color: #A2A6A8; 
}


/* @smart widget
   @this widget helps us to position an element eg button or label or span
   @the positions can either be left or right while the input stays 100%
   @you ca use this to rapidly create search widgets, newsletter subscribe etc 
---------------------------------------------------------------------------------*/
.kesato-form .smart-widget, 
.kesato-form .append-picker-icon, 
.kesato-form .prepend-picker-icon { position: relative; display:block; }
.kesato-form .smart-widget .field input, 
.kesato-form .append-picker-icon input, 
.kesato-form .prepend-picker-icon input { width: 100%; }

.kesato-form .append-picker-icon button, 
.kesato-form .prepend-picker-icon button,
.kesato-form .smart-widget .button { 
  border:1px solid #CFCFCF;
  background: #F5F5F5;
    position: absolute;
  cursor: pointer;
  color: #626262;
  height: 42px;
    top: 0;
}

.kesato-form .sm-right .button, 
.kesato-form .append-picker-icon button{ border-left:0; }
.kesato-form .sm-left .button, 
.kesato-form .prepend-picker-icon button{ border-right:0; }

.kesato-form .sm-left .button, 
.kesato-form .prepend-picker-icon button { left:0; }
.kesato-form .sm-right .button, 
.kesato-form .append-picker-icon button {  right:0; }

/* @smart widget buttons - to left 
------------------------------------------------- */
.kesato-form .sml-50, 
.kesato-form .prepend-picker-icon { padding-left: 50px; } 
.kesato-form .sml-50 .button, 
.kesato-form .prepend-picker-icon button{ width: 50px; }
.kesato-form .sml-80{ padding-left: 80px; } 
.kesato-form .sml-80 .button { width: 80px; }
.kesato-form .sml-120{ padding-left: 120px; } 
.kesato-form .sml-120 .button { width: 120px; }

/* @smart widget buttons - to right 
------------------------------------------------- */
.kesato-form .smr-50, 
.kesato-form .append-picker-icon{ padding-right: 50px; } 
.kesato-form .smr-50 .button, 
.kesato-form .append-picker-icon button{ width: 50px; }
.kesato-form .smr-80{ padding-right: 80px; } 
.kesato-form .smr-80 .button { width: 80px; }
.kesato-form .smr-120{ padding-right: 120px; } 
.kesato-form .smr-120 .button { width: 120px; }


/* @icon append (right) :: prepend (left)
------------------------------------------------- */
.kesato-form .append-icon, 
.kesato-form .prepend-icon{
    display: inline-block;
    vertical-align: top;
    position: relative;
  width:100%;
}

.kesato-form .append-icon .field-icon, 
.kesato-form .prepend-icon .field-icon{
  top:0;
  z-index:4;
  width:42px;
  height:42px;
  color: inherit;
  line-height:42px;
  position:absolute;
  text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
}

.kesato-form .append-icon .field-icon i, 
.kesato-form .prepend-icon .field-icon i{ 
  position:relative;
  font-size:14px;
}

.kesato-form .prepend-icon .field-icon{ left:0;  }
.kesato-form .append-icon .field-icon{ right:0; }
/*
.kesato-form .prepend-icon > input, 
.kesato-form .prepend-icon > textarea{ padding-left:36px; }
*/
.kesato-form .append-icon > input, 
.kesato-form .append-icon > textarea{ padding-right:36px; padding-left:10px;  }
.kesato-form .append-icon > textarea{ padding-right:36px; }

/* @tooltips on inputs + textareas 
------------------------------------------------- */ 
.kesato-form .tooltip {
  position: absolute;
  z-index: -1;
  opacity: 0;
  color: #fff;  
  width: 184px;
  left: -9999px;
  top:auto;
  font-size: 11px;
  font-weight:normal;
  background: #333333;
  -webkit-transition: margin 0.6s, opacity 0.6s;
  -moz-transition: margin 0.6s, opacity 0.6s;
  -ms-transition: margin 0.6s, opacity 0.6s;
  -o-transition: margin 0.6s, opacity 0.6s;
  transition: margin 0.6s, opacity 0.6s;
}

.kesato-form .tooltip > em{ padding:12px; font-style:normal; display:block; position:static; }
.kesato-form .tooltip:after { content: ''; position: absolute; }
.kesato-form .gui-input:focus + .tooltip,
.kesato-form .gui-textarea:focus + .tooltip { opacity: 1; z-index: 999; }

/* @tooltip left
------------------------------------------------- */
.kesato-form .tip-left { top:1px; margin-right:-20px; }
.kesato-form .tip-left:after {
  top:12px;
  left: 100%;
  border-left: 8px solid #333333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.kesato-form .gui-input:focus + .tip-left,
.kesato-form .gui-textarea:focus + .tip-left {
  margin-right:5px;
  right: 100%;
  left: auto;
}

/* @tooltip right
------------------------------------------------- */
.kesato-form .tip-right { top:1px; margin-left:-20px; }
.kesato-form .tip-right:after {
  top:12px;
  right: 100%;
  border-right: 8px solid #333333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
}

.kesato-form .gui-input:focus + .tip-right,
.kesato-form .gui-textarea:focus + .tip-right { left: 100%; margin-left:5px; }

/* @tooltip right-top
------------------------------------------------- */
.kesato-form .tip-right-top { bottom: 100%; margin-bottom: -20px; }
.kesato-form .tip-right-top:after {
  top: 100%;
  right: 12px;
  border-top: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.kesato-form .gui-input:focus + .tip-right-top,
.kesato-form .gui-textarea:focus + .tip-right-top {
  right: 0;
  left: auto;
  margin-bottom: 10px;
}

/* @tooltip left-top
------------------------------------------------- */
.kesato-form .tip-left-top { bottom: 100%; margin-bottom: -20px; }
.kesato-form .tip-left-top:after {
  top: 100%;
  left: 12px;
  border-top: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.kesato-form .gui-input:focus + .tip-left-top,
.kesato-form .gui-textarea:focus + .tip-left-top {
  left: 0;
  right: auto;
  margin-bottom: 10px;
}

/* @tooltip right-bottom
------------------------------------------------- */
.kesato-form .tip-right-bottom { top: 100%; margin-top: -20px; }
.kesato-form .tip-right-bottom:after {
  right: 12px;
  bottom: 100%;
  border-bottom: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.kesato-form .gui-input:focus + .tip-right-bottom,
.kesato-form .gui-textarea:focus + .tip-right-bottom {
  margin-top: 10px;
  left: auto;
  right: 0;
}

/* @tooltip left-bottom
------------------------------------------------- */
.kesato-form .tip-left-bottom { top: 100%; margin-top: -20px; }
.kesato-form .tip-left-bottom:after {
  left: 12px;
  bottom: 100%;
  border-bottom: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.kesato-form .gui-input:focus + .tip-left-bottom,
.kesato-form .gui-textarea:focus + .tip-left-bottom {
  margin-top:10px;
  right: auto;
  left: 0;
}

/* @lists
-------------------------------------------------------------- */
.kesato-form .smart-list{ list-style:none; margin:0; padding:0; }
.kesato-form .smart-list li{ margin-bottom:20px; }

/* @notification messages | info | error | warning | success
-------------------------------------------------------------- */
.kesato-form .form-msg{ display:none; }
.kesato-form .notification { color: #444; padding:15px; position:relative; }
.kesato-form .notification p{ margin:0; padding:0 15px; padding-left:5px; line-height:normal;  }
.kesato-form .notification .close-btn{
  margin-top: -7px;
  padding: inherit;
  position: absolute;
  text-decoration:none; 
    font: bold 20px/20px;
  opacity: 0.65;  
  color: inherit;
    display: block;    
    right:1px;
  top:14%;
}

.kesato-form .notification .close-btn:hover{ opacity: 1; }
.kesato-form .alert-info { color:#163161; background-color: #cfe6fc; }
.kesato-form .alert-success { color:#336633; background-color: #d2f7ad; }
.kesato-form .alert-warning { color: #CC6600; background-color: #fae7a2; }
.kesato-form .alert-error { color:#990000; background-color: #FBDBCF; }

/* @validaion - error state
------------------------------------- */
.kesato-form .state-error .gui-input,
.kesato-form .state-error .gui-textarea,
.kesato-form .state-error.select > select,
.kesato-form .state-error.select-multiple > select,
.kesato-form .state-error input:hover + .checkbox, 
.kesato-form .state-error input:hover + .radio,
.kesato-form .state-error input:focus + .checkbox, 
.kesato-form .state-error input:focus + .radio,
.kesato-form .state-error .checkbox, 
.kesato-form .state-error .radio{
  border-color:#DE888A;
}

.kesato-form .state-error .gui-input:focus,
.kesato-form .state-error .gui-textarea:focus,
.kesato-form .state-error.select > select:focus,
.kesato-form .state-error.select-multiple > select:focus{
  -webkit-box-shadow:0px 0px 3px #DE888A inset;
  -moz-box-shadow:0px 0px 3px #DE888A inset;
  -o-box-shadow:0px 0px 3px #DE888A inset;
  box-shadow:0px 0px 3px #DE888A inset;
}

.kesato-form .state-error .gui-input ~ .field-icon i,
.kesato-form .state-error .gui-textarea ~ .field-icon i{  color: #DE888A; }
.kesato-form .state-error.select .arrow { color: #DE888A; }
.kesato-form .state-error.select > select:focus + .arrow{ color:#DE888A; }
.kesato-form .state-error .gui-input ~ .input-hint,
.kesato-form .state-error.file .gui-file:hover + .gui-input, 
.kesato-form .state-error .gui-textarea ~ .input-hint { border-color:#DE888A; }
.kesato-form .state-error + em{ 
  display: block!important;
  margin-top: 6px;
  padding: 0 3px;
  font-style: normal;
  line-height: normal;
  font-size:12px;
  color:#DE888A;
}

/* @validaion - success state 
-------------------------------------------------- */

.kesato-form .state-success .gui-input,
.kesato-form .state-success .gui-textarea,
.kesato-form .state-success.select > select,
.kesato-form .state-success.select-multiple > select,
.kesato-form .state-success input:hover + .checkbox, 
.kesato-form .state-success input:hover + .radio,
.kesato-form .state-success input:focus + .checkbox, 
.kesato-form .state-success input:focus + .radio, 
.kesato-form .state-success .checkbox, 
.kesato-form .state-success .radio{
  /*
  background:#F0FEE9; 
  border-color:#A5D491;
  */
  border-color: #CFCFCF;
}


.kesato-form .state-success .gui-input:focus,
.kesato-form .state-success .gui-textarea:focus,
.kesato-form .state-success.select > select:focus,
.kesato-form .state-success.select-multiple > select:focus{ 
  -webkit-box-shadow:0px 0px 3px #A5D491 inset; 
  -moz-box-shadow:0px 0px 3px #A5D491 inset; 
  -o-box-shadow:0px 0px 3px #A5D491 inset; 
  box-shadow:0px 0px 3px #A5D491 inset; 
}

.kesato-form .state-success .gui-input ~ .field-icon i,
.kesato-form .state-success .gui-textarea ~ .field-icon i{  color: #A5D491; }
.kesato-form .state-success.select .arrow { color: #A5D491; }
.kesato-form .state-success.select > select:focus + .arrow{ color:#A5D491; }
.kesato-form .state-success .gui-input ~ .input-hint,
.kesato-form .state-success.file .gui-file:hover + .gui-input, 
.kesato-form .state-success .gui-textarea ~ .input-hint { border-color:#A5D491; }

/* @disabled state 
----------------------------------------------- */
.kesato-form .button[disabled],
.kesato-form .state-disabled .button,
.kesato-form input[disabled] + .radio,
.kesato-form input[disabled] + .checkbox,
.kesato-form .switch > input[disabled] + label{
  cursor: default;
  opacity:0.5;
}

.kesato-form .gui-input[disabled],
.kesato-form .gui-textarea[disabled], 
.kesato-form .select > select[disabled], 
.kesato-form .select-multiple select[disabled],
.kesato-form .gui-input[disabled] ~ .input-hint,
.kesato-form .file .gui-file[disabled] + .gui-input,
.kesato-form .file .gui-file[disabled]:hover + .gui-input, 
.kesato-form .gui-textarea[disabled] ~ .input-hint {    
  background-color: #f4f6f6;
  border-color: #d5dbdb!important;
  cursor: default;
  color: #d5dbdb;
  opacity:0.7;
}

.kesato-form input[disabled] ~ .field-icon i,
.kesato-form textarea[disabled] ~ .field-icon i,
.kesato-form .select > select[disabled] + .arrow{ 
  opacity:0.4; 
}

/* @datepicker - requires jquery ui
----------------------------------------------- */
.ui-datepicker {
  width: 18em;
  margin-top:8px;
  display: none;
  background: #fff;
  position:relative;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.1);
  -o-box-shadow: 0 0 4px rgba(0,0,0,.1);
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  border:1px solid #CFCFCF;
  z-index:9999!important;   
  text-align: center;
  color: #666;
  
}

.ui-datepicker a { color: #404040; text-align:center; }
.ui-datepicker .ui-state-disabled span{ color:#DBDBDB;}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  background: #F5F5F5;
  border-bottom:1px solid #CFCFCF;
  line-height: 27px;
  font-size: 15px;
  padding: 10px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 34px;
  height: 34px;
  display: block;
  font-size: 14px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  color:#ee5b2c;
  top:20.5%;
}

.ui-datepicker .ui-datepicker-prev { left: 2px;  }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-title { 
  margin: 0 2.3em; 
  line-height: 1.8em; 
  text-align: center;
  color:#ee5b2c; 
}

.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month-year { width: 100%; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%; }
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  margin: 0 0 .4em;
  border-collapse: collapse;
}

.ui-datepicker th {
  padding: .5em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td { border: 0; padding:2px 5px; }
.ui-datepicker td span,
.ui-datepicker td a {
  padding: .25em;
  display: block;
  text-align: center;
  text-decoration: none;
}

.ui-datepicker td span:hover,
.ui-datepicker td a:hover {  background:#F5F5F5; }
.ui-datepicker .ui-state-disabled span:hover{ background:none; }
.ui-datepicker-today a, .ui-datepicker-today a:hover, 
.ui-datepicker .ui-state-highlight {
  font-weight: 700;
  background: #ee5b2c!important;
  color:#fff;
}

/* @multiple calendars || not responsive use carefully 
--------------------------------------------------------------- */
.cal-widget .ui-datepicker { width: 100%; margin-top:0; }
.cal-widget .ui-datepicker:before{ display:none; }
.ui-datepicker.ui-datepicker-multi { width: auto; }
.ui-datepicker-multi .ui-datepicker-group { float: left; }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.333%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }
.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0; }

/* @ ui buttons
---------------------------------------------------------------- */
.ui-datepicker-buttonpane{ border-top:1px solid #CFCFCF; padding:10px;  }
.ui-datepicker-buttonpane button {
  padding: 8px 12px;
  margin-right: .2em;
  position: relative;
  line-height: normal;
  display: inline-block;
  -webkit-user-drag: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  background: #DBDBDB;
  text-align: center;
  overflow: visible;  
  cursor: pointer;
  color: #243140;
  border:0;
}

/* @ ui buttons :hover, :active states 
---------------------------------------------------------------- */
.ui-datepicker-buttonpane button:hover { color: #243140; background: #E8E8E8; }
.ui-datepicker-buttonpane button:active{ color: #1d2938; background: #C4C4C4; }
.ui-monthpicker .ui-datepicker-header{ margin-bottom:3px; }

/* @ui slider - requires jquery ui
------------------------------------------------------*/
.kesato-form .slider-wrapper, 
.kesato-form .sliderv-wrapper{ 
  background:#E5E5E5; 
  position:relative; 
}

.kesato-form .ui-slider {
  position: relative;
  text-align: left;
}

.kesato-form .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.5em;
  height: 1.5em;
  cursor: default;
  background:#fff;
  border:3px solid #ee5b2c;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -o-border-radius:20px;
  border-radius:20px; 
  -ms-touch-action: none;
  touch-action: none;
  margin-top:-3px;
  outline:none;
}

.kesato-form .ui-slider .ui-slider-handle:before{
  content: '';
    width: 6px;
    height: 6px;
  position:absolute;
    background-color: #ee5b2c;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  -o-border-radius: 10px; 
  border-radius: 10px;
  z-index: 2; 
  left:4px;
  top:4px;
}

.kesato-form .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background-color: #ee5b2c;
}

.kesato-form .ui-slider.ui-state-disabled .ui-slider-handle,
.kesato-form .ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }
.kesato-form .ui-slider-horizontal { height: .5em; }
.kesato-form .ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.kesato-form .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.kesato-form .ui-slider-horizontal .ui-slider-range-min { left: 0; }
.kesato-form .ui-slider-horizontal .ui-slider-range-max { right: 0; }
.kesato-form .ui-slider-vertical, 
.kesato-form .sliderv-wrapper { width: .5em; height: 100px; }
.kesato-form .ui-slider-vertical .ui-slider-handle { left: -.45em; margin-left: 0; margin-bottom: -.6em; }
.kesato-form .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.kesato-form .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.kesato-form .ui-slider-vertical .ui-slider-range-max { top: 0; }
.kesato-form .slider-input{ border:0; background:none; }
.kesato-form .slider-group .sliderv-wrapper{ height:150px; float:left; margin:15px 15px;   }
.kesato-form .ui-slider .ui-state-active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* @ui slider tooltip
------------------------------------------------------*/
.kesato-form .slider-tip {
  display: block;
  position: absolute;
  text-align: center;
  font: 10pt ;
  background: #333333;
  padding:10px;
  color: #fff;
}

.kesato-form .slider-wrapper .slider-tip{ top: -50px; left:-15px; }
.kesato-form .slider-wrapper .slider-tip:after { 
  content: ''; 
  position: absolute; 
  top: 98%;
  left: 35%;
  border-top: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; 
}

.kesato-form .sliderv-wrapper .slider-tip{ left: 30px; top:-12px; }
.kesato-form .sliderv-wrapper .slider-tip:after{ 
  content: ''; 
  position: absolute;
  top:30%;
  right: 98%;
  border-right: 8px solid #333333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
}

/* @ui slider themes
------------------------------------------------------*/
.kesato-form .yellow-slider .ui-slider .ui-slider-handle{ border-color:#faa226; }
.kesato-form .yellow-slider .ui-slider .ui-slider-handle:before,
.kesato-form .yellow-slider .ui-slider .ui-slider-range { background-color: #faa226;  }
.kesato-form .red-slider .ui-slider .ui-slider-handle{ border-color:#ee4f3d; }
.kesato-form .red-slider .ui-slider .ui-slider-handle:before,
.kesato-form .red-slider .ui-slider .ui-slider-range { background-color:#ee4f3d;  }
.kesato-form .purple-slider .ui-slider .ui-slider-handle{ border-color:#9464e2; }
.kesato-form .purple-slider .ui-slider .ui-slider-handle:before,
.kesato-form .purple-slider .ui-slider .ui-slider-range { background-color:#9464e2;  }
.kesato-form .blue-slider .ui-slider .ui-slider-handle{ border-color:#00acee; }
.kesato-form .blue-slider .ui-slider .ui-slider-handle:before,
.kesato-form .blue-slider .ui-slider .ui-slider-range { background-color:#00acee;  }
.kesato-form .black-slider .ui-slider .ui-slider-handle{ border-color:#505558; }
.kesato-form .black-slider .ui-slider .ui-slider-handle:before,
.kesato-form .black-slider .ui-slider .ui-slider-range { background-color:#505558;  }
.kesato-form .green-slider .ui-slider .ui-slider-handle{ border-color:#0E993C; }
.kesato-form .green-slider .ui-slider .ui-slider-handle:before,
.kesato-form .green-slider .ui-slider .ui-slider-range { background-color:#0E993C;  }

/* @ui timepicker - requires jquery ui
------------------------------------------------------*/
.ui-timepicker-div .ui-widget-header {
  position: relative;
  background: #F5F5F5;
  line-height: 27px;
  font-size: 15px;
  padding: 10px;
 }
 
.ui-timepicker-div dl { text-align: left; border:1px solid #CFCFCF; border-width:1px 0 0 0; padding:15px 10px; margin:0; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 20px 40%; }
.ui-timepicker-div dl .ui_tpicker_hour, 
.ui-timepicker-div dl .ui_tpicker_minute, 
.ui-timepicker-div dl .ui_tpicker_second,  
.ui-timepicker-div dl .ui_tpicker_millisec{ background:#E5E5E5;  position:relative; top:6px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* @progress bars 
------------------------------------------------------*/
.kesato-form .progress-section{ display:none; } 
.kesato-form .progress-bar {
    position: relative;
    background:#E5E5E5; 
}

.kesato-form .progress-bar .percent { 
  position:absolute; 
  display:inline-block; 
  top:-3px; 
  right:-24px; 
  font-size:9px; 
  color:#93A2AA; 
}
.kesato-form .progress-bar > .bar {   
  width:60%; 
  height:7px;
  display: block;
  background-size: 16px 16px; 
  background-color: #bdc3c7; 
}

/* @progress bar themes
----------------------------------------------------------- */
.kesato-form .bar-primary > .bar  { background-color: #ee5b2c; }
.kesato-form .bar-blue > .bar     { background-color: #00acee; }
.kesato-form .bar-black > .bar    { background-color: #505558; }
.kesato-form .bar-green > .bar    { background-color: #0E993C; }
.kesato-form .bar-purple > .bar   { background-color: #9464e2; }
.kesato-form .bar-red > .bar      { background-color: #ee4f3d; }
.kesato-form .bar-yellow > .bar   { background-color: #faa226; }

/* @progress bar strips + animation IE10+ 
----------------------------------------------------------- */
.kesato-form .ui-slider .ui-slider-range,  
.kesato-form .progress > button[type="submit"], 
.kesato-form .progress > button[type="submit"]:hover,
.kesato-form .progress-bar > .bar{
    background-size: 16px 16px;
    /*
    background-image: -webkit-linear-gradient(top left,  
            transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
            transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
            
    background-image: -moz-linear-gradient(top left,  
            transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
            transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
            
    background-image: -o-linear-gradient(top left,  
            transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
            transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
            
    background-image: linear-gradient(to bottom right,  
            transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, 
            transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
            */
}

.kesato-form .progress > button[type="submit"], 
.kesato-form .progress > button[type="submit"]:hover,  
.kesato-form .progress-animated > .bar{
  -webkit-animation: sfprogress .6s linear infinite;
  -moz-animation: sfprogress .6s linear infinite;
  -o-animation: sfprogress .6s linear infinite;
    animation: sfprogress .6s linear infinite;
}

.kesato-form .progress > button[type="submit"]:hover{ cursor:wait; }

@-webkit-keyframes sfprogress {
    from { background-position: 0 0; }
  to { background-position: -16px 0; }
}


@-moz-keyframes sfprogress {
  from { background-position: 0 0; }
  to { background-position: -16px 0; }
}

@-o-keyframes sfprogress {
  from { background-position: 0 0; }
  to { background-position: -16px 0; }
}

@keyframes sfprogress {
    from { background-position: 0 0; }
  to { background-position: -16px 0; }
}


/* @google map :: block elements 
----------------------------------------------------------------------- */
.kesato-form .map-container{ padding:10px; border: 1px solid #CFCFCF; }
.kesato-form #map_canvas{ width:100%; height:300px; overflow:hidden;  }
.kesato-form .block{ display:block; }

/* @form grid
----------------------------------- */ 

/* @form rows 
--------------------------------- */
.kesato-form .frm-row{ margin:0 -10px;  }
.kesato-form .slider-group:before,
.kesato-form .slider-group:after,
.kesato-form .frm-row:before,
.kesato-form .frm-row:after { display: table; content: ""; line-height: 0; }
.kesato-form .slider-group:after, 
.kesato-form .frm-row:after{ clear: both; }

/* @form columns 
----------------------------------- */
.kesato-form .frm-row .colm{ 
  min-height:1px; 
  padding-left:10px; 
  padding-right:10px; 
  position:relative; 
  float:left; 
}

.kesato-form .frm-row .colm1{width:8.33%;}
.kesato-form .frm-row .colm2{width:16.66%;}
.kesato-form .frm-row .colm3{width:25%;}
.kesato-form .frm-row .colm4{width:33.33%;}
.kesato-form .frm-row .colm5{width:41.66%;}
.kesato-form .frm-row .colm6{width:50%;}
.kesato-form .frm-row .colm7{width:58.33%;}
.kesato-form .frm-row .colm8{width:66.66%;}
.kesato-form .frm-row .colm9{width:75%;}
.kesato-form .frm-row .colm10{width:83.33%;}
.kesato-form .frm-row .colm11{width:91.66%;}
.kesato-form .frm-row .colm12{width:100%; }
.kesato-form .frm-row .colm1-5{width:20%;}
.kesato-form .frm-row .colm1-8{width:12.5%;}

/* @spacers 
--------------------------------------- */
.kesato-form .spacer{ 
  border-top:1px solid #CFCFCF; 
  display:block;
  height:0; 
}

/* @margin spacers :: modify accordingly 
-------------------------------------------- */
.kesato-form .spacer-t10{ margin-top:10px; }
.kesato-form .spacer-b10{ margin-bottom:10px; }
.kesato-form .spacer-t15{ margin-top:15p; }
.kesato-form .spacer-b15{ margin-bottom:15px; }
.kesato-form .spacer-t20{ margin-top:20px; }
.kesato-form .spacer-b20{ margin-bottom:20px; }
.kesato-form .spacer-t25{ margin-top:25px; }
.kesato-form .spacer-b25{ margin-bottom:25px; }
.kesato-form .spacer-t30{ margin-top:30px; }
.kesato-form .spacer-b30{ margin-bottom:30px; }
.kesato-form .spacer-t40{ margin-top:40px; }
.kesato-form .spacer-b40{ margin-bottom:40px; }

/* @padding spacers :: modify accordingly 
-------------------------------------------------- */
.kesato-form .frm-row .pad-l10{ padding-left:10px; }
.kesato-form .frm-row .pad-r10{ padding-right:10px; }
.kesato-form .frm-row .pad-l20{ padding-left:20px; }
.kesato-form .frm-row .pad-r20{ padding-right:20px; }
.kesato-form .frm-row .pad-l30{ padding-left:30px; }
.kesato-form .frm-row .pad-r30{ padding-right:30px; }
.kesato-form .frm-row .pad-l40{ padding-left:40px; }
.kesato-form .frm-row .pad-r40{ padding-right:40px; }

/* @border spacers + text adjust
-------------------------------------------------- */
.kesato-form .bdl { border-left:1px solid #CFCFCF;   }
.kesato-form .bdr { border-right:1px solid #CFCFCF;  }
.kesato-form .fine-grey{ color:#999; }
.kesato-form .small-text{ font-size:11px; font-style:normal;  }
.kesato-form .text-align{ height:42px; line-height:42px; }

/* @element alignment
-------------------------------------------------- */
.kesato-form .align-right{ text-align:right; }
.kesato-form .align-center{ text-align:center; }

/* @simple price boxes :: depend on grid
-------------------------------------------------- */
.kesato-form .price-box{ 
  padding:30px; 
  text-align:center;
  position:relative; 
  border:1px solid #CFCFCF;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.05); 
}

.kesato-form .price-box p{ line-height:1.5em; color:#526066; margin-bottom:0; }
.kesato-form .price-box h5{ text-transform:uppercase; font-weight:300; margin:0; font-size:15px; color:#B0B2B9; letter-spacing:2px  }
.kesato-form .price-box h4{ font-size:60px; font-weight:300; margin:0; color:#626262; }
.kesato-form .selected-box h4{ color:#ee5b2c; }
.kesato-form .price-box h4 sup{ position:relative; font-size:30px; vertical-align:top; top:15px; }
.kesato-form .price-box h4 .per-month{font-size:14px; }
.kesato-form .expand{ height:50px; line-height:50px!important; border-radius:3px; }

/* @simple price boxes ribbon IE8+
----------------------------------------- */
.kesato-form .ribbon,
.kesato-form .ribbon-large{
  width:75px;
  height:78px;
  overflow:hidden;
  position:absolute;
  right: -2px;
  top: -2px;
  z-index:1;
}

.kesato-form .ribbon-inner{
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  background: #ee5b2c;
  letter-spacing:4px;
  text-align:center;
  position:relative;
  font-weight:700;
  font-size:14px;
  padding:7px 0;
  width:100px;
  color:#fff;
  z-index:1;
  left:3px;
  top:6px;
}

.kesato-form .ribbon-inner:before,
.kesato-form .ribbon-inner:after{
  content:"";
  border-top:3px solid #3c9b39;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
  position:absolute;
  bottom:-3px;
}

.kesato-form .ribbon-inner:before{ left:0px; }
.kesato-form .ribbon-inner:after{ right:0px; }
.kesato-form .ribbon-large{ width:115px; height:118px; }
.kesato-form .ribbon-large .ribbon-inner{
  width:160px;
  left:-8px;
  top:28px;
}

/* @captcha refresh button + icon 
-------------------------------------------------- */
.kesato-form .sfcode{ padding-left:24px; }
.kesato-form .captcode{ padding:0; position:relative; }
.kesato-form .captcode img{ position:relative; top:1px;}
.kesato-form .refresh-captcha{ 
  position:absolute;
  background:#ee5b2c;
  border:3px solid #3C9B39;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -o-border-radius:30px;
  border-radius:30px;
  right:-15px;
  height:32px;
  width:32px; 
  top:4px; 
}

.kesato-form .refresh-captcha i{ 
  position:absolute; 
  text-align:center; 
  line-height:26px;
  font-size:17px; 
  color:#fff;
  left:24%;
}

/* @captcha refresh button themes
-------------------------------------------------- */
.kesato-form .refresh-black    { background:#505558; border-color: #333333; }
.kesato-form .refresh-blue     { background:#00acee; border-color: #0087bb; }
.kesato-form .refresh-green    { background:#0E993C; border-color: #0B792F; }
.kesato-form .refresh-purple   { background:#9464e2; border-color: #7639da; }
.kesato-form .refresh-red      { background:#ee4f3d; border-color: #e42914; }
.kesato-form .refresh-yellow   { background:#faa226; border-color: #e88a05; }

/* Firefox select fix - select arrow hack  disabled on FF 30+
-------------------------------------------------------------- */
@-moz-document url-prefix() {
  .kesato-form .select:before{ 
    content: '';
    pointer-events:none;    
    -moz-transition:none;
    transition:none;
    position: absolute; 
    background: #F5F5F5; 
    width: 36px;
    right:1px;
    top:1px; 
    bottom:1px;
    z-index:99;  
  }
  
  .kesato-form .select > select:focus,
  .kesato-form .select > select:hover,
  .kesato-form .select:hover select,
  .kesato-form .select:hover:before{ 
    background: #fff;
    -moz-transition:none;
    transition:none;    
    -moz-box-shadow:none;   
    box-shadow:none;    
  }
  
  .kesato-form .select .arrow {  z-index:100;  }
  .kesato-form .state-error.select > select:focus,
  .kesato-form .state-error.select > select:hover,
  .kesato-form .state-error.select:hover select,
  .kesato-form .state-error.select:hover:before,  
  .kesato-form .state-error.select:before { background:#FEE9EA;  }
  
  .kesato-form .state-success.select > select:focus,
  .kesato-form .state-success.select > select:hover,
  .kesato-form .state-success.select:hover select,
  .kesato-form .state-success.select:hover:before,    
  .kesato-form .state-success.select:before { background:#F0FEE9;  }  
      
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .kesato-form .select .arrow:after,
  .kesato-form .select .arrow:before { display:block; }
}

/* @Fix old of versions android + ios
------------------------------------------------------------- */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
        .kesato-form .option, 
        .kesato-form .rating, 
        .kesato-form .switch, 
    .kesato-form .captcode { -webkit-animation: bugfix infinite 1s; }
        @-webkit-keyframes bugfix { 
            from { padding: 0;  } 
            to { padding: 0; } 
        }
    .kesato-form .switch { margin-right:10px;  margin-bottom:5px; }
    .kesato-form .option { margin-right:15px; }         
}

/* @responsiveness for tablets + smart mobile 
-------------------------------------------------- */
@media (max-width: 600px) {
  .kesato-form .frm-row{ margin:0;  }
  .kesato-form .frm-row .colm{  width: 100%; float:none; padding:0; }
  .kesato-form .bdl { border-left:0;  }
  .kesato-form .bdr { border-right:0; }
  .kesato-form .align-right{ text-align: left; }
}

.kesato-form .btn-facebook:hover,
.kesato-form .btn-facebook:active,
.kesato-form .btn-facebook:focus {
  color: #3A5795 !important; background: white !important; font-weight: bold; border-color: #3A5795;
}