@import url('./mixins.less');

// Color Palette, Main
@white: #FFF;
@brokenwhite: #f1f1f1;
@black: #000;
@brokenblack: #151515;
@darkgrey: #3f3f3f;
@darkergrey: #777;
@grey: #c1c1c1;
@lightgrey: #666;
@orange: #ee5b2c;
@orange-dark: #e5592c;
@orange-light: #fb7d54;
@dark: #333;
@green: #1fa67a;
@success: #97D43C;
@kibarer_orange: #ee5b2c;

@search-border: #e6e6e6;
@search-color: #999999;

/* FONT FAMILY */
@oswald: 'Oswald',  sans-serif;
@helvetica_neue_light_condensod_ob : 'HelveticaNeueLightCondensodOb';
@helvetica_neue_ultra_light_condensod : 'HelveticaNeueUltraLightCondensod';
@helvetica_neue_bold : 'HelveticaNeueBold';
@helvetica_neue_medium : 'HelveticaNeueMedium';
@helvetica_neue_cyr_heavy : 'HelveticaNeueCyrHeavy';
@helvetica_neue_ultra_light : 'HelveticaNeueUltraLight';
@helvetica_neue_regular : 'HelveticaNeueRegular';
@helvetica_neue : 'HelveticaNeue';
@helvetica_neue_light : 'HelveticaNeueLight';
@helvetica_neue_condensod : 'HelveticaNeueCondensod';
@helvetica_neue_bold_condensod : 'HelveticaNeueBoldCondensod';
@helvetica_neue_thin_condensod : 'HelveticaNeueThinCondensod';
@helvetica_neue_roman : 'HelveticaNeueRoman';

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/* LAYOUT OPTIONS */
.flexbox{ .flex-block();
    &-wrap{ .flex-wrap(wrap); }
    &-between{ .justify-content(space-between); }
    &-around{ .justify-content(space-around); }
}

.row{ max-width: 1200px; margin: 0 auto; padding: 0 16px; }
.fwidth{ width: 100%; }
.w80{ width: 80%; }
.w33{ width: calc(~"100% / 3"); }
.w66{ width: calc(~"(100% / 3) * 2"); }
.w75{ width: 75%; }
.w50{ width: 50%; }
.w25{ width: 25%; }

.justify{
    &-center{ .justify-content(center); }
    &-around{ .justify-content(space-around); }
    &-between{ .justify-content(space-between); }
    &-start{ .justify-content(flex-start); }
    &-end{ .justify-content(flex-end); }
}

.align-right{ text-align-last: right; }

/* IMAGERY */
.fill-background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ==========================================================================
FONT FACE : HELVETICA
========================================================================== */

@font-face {
    font-family: 'HelveticaNeueLightCondensodOb';
    src: url('../fonts/HelveticaNeueLightCondensodOb.eot');
    src: url('../fonts/HelveticaNeueLightCondensodOb.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLightCondensodOb.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLightCondensodOb.woff') format('woff'),
         url('../fonts/HelveticaNeueLightCondensodOb.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLightCondensodOb.svg#HelveticaNeueLightCondensodOb') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueUltraLightCondensod';
    src: url('../fonts/HelveticaNeueUltraLightCondensod.eot');
    src: url('../fonts/HelveticaNeueUltraLightCondensod.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueUltraLightCondensod.woff2') format('woff2'),
         url('../fonts/HelveticaNeueUltraLightCondensod.woff') format('woff'),
         url('../fonts/HelveticaNeueUltraLightCondensod.ttf') format('truetype'),
         url('../fonts/HelveticaNeueUltraLightCondensod.svg#HelveticaNeueUltraLightCondensod') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueBold.woff') format('woff'),
         url('../fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../fonts/HelveticaNeueMedium.eot');
    src: url('../fonts/HelveticaNeueMedium.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
         url('../fonts/HelveticaNeueMedium.woff') format('woff'),
         url('../fonts/HelveticaNeueMedium.ttf') format('truetype'),
         url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyrHeavy';
    src: url('../fonts/HelveticaNeueCyrHeavy.eot');
    src: url('../fonts/HelveticaNeueCyrHeavy.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrHeavy.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyrHeavy.woff') format('woff'),
         url('../fonts/HelveticaNeueCyrHeavy.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyrHeavy.svg#HelveticaNeueCyrHeavy') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../fonts/HelveticaNeueUltraLight.eot');
    src: url('../fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../fonts/HelveticaNeueRegular.eot');
    src: url('../fonts/HelveticaNeueRegular.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
         url('../fonts/HelveticaNeueRegular.woff') format('woff'),
         url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
         url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCondensod';
    src: url('../fonts/HelveticaNeueCondensod.eot');
    src: url('../fonts/HelveticaNeueCondensod.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCondensod.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCondensod.woff') format('woff'),
         url('../fonts/HelveticaNeueCondensod.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCondensod.svg#HelveticaNeueCondensod') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBoldCondensod';
    src: url('../fonts/HelveticaNeueBoldCondensod.eot');
    src: url('../fonts/HelveticaNeueBoldCondensod.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBoldCondensod.woff2') format('woff2'),
         url('../fonts/HelveticaNeueBoldCondensod.woff') format('woff'),
         url('../fonts/HelveticaNeueBoldCondensod.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBoldCondensod.svg#HelveticaNeueBoldCondensod') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueThinCondensod';
    src: url('../fonts/HelveticaNeueThinCondensod.eot');
    src: url('../fonts/HelveticaNeueThinCondensod.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueThinCondensod.woff2') format('woff2'),
         url('../fonts/HelveticaNeueThinCondensod.woff') format('woff'),
         url('../fonts/HelveticaNeueThinCondensod.ttf') format('truetype'),
         url('../fonts/HelveticaNeueThinCondensod.svg#HelveticaNeueThinCondensod') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('../fonts/HelveticaNeueRoman.eot');
    src: url('../fonts/HelveticaNeueRoman.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueRoman.woff2') format('woff2'),
         url('../fonts/HelveticaNeueRoman.woff') format('woff'),
         url('../fonts/HelveticaNeueRoman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueRoman.svg#HelveticaNeueRoman') format('svg');
}