@import url('./master.less');
@import url('./mixins.less');

@media all and (max-width: 1064px){

	/* =============
	RESPONSIVE NAV
	================ */
	header { padding-top: 15px; padding-bottom: 18px; }
    .fullscreen-nav{ position: fixed; opacity: 0; visibility: hidden; top: 83px; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: calc(~"100vh - 83px"); flex-wrap: wrap; text-align: center; overflow: scroll; background: @white; .transition(0.5s ease-in-out);
        .bottom-nav { position: relative; margin: auto;
            nav { position: relative !important; width: 230px !important; margin: auto;
                ul {
                    li { display: block; width: 100%; margin-bottom: 15px;
                        a { padding: 0; font-size:1.3rem; line-height: 26px !important; }
                        &:after { content: none; }
                    }
                }
            }
            .title-border { display: block; margin: 20px auto; }
            .top-nav { position: relative !important; border-top: 1px solid #EEE; padding-top: 30px;
                ul {
                    li{ display: block;
                        a { font-size: 1rem; line-height: 1.2rem;
                            i { font-size: 1rem; line-height: 1.2rem; }
                        }
                    }
                }
            }
        }
        .lang-cur { width: 100%; }
        &.active { opacity: 1; visibility: visible; z-index: 10; }
    }
    #burger-nav { display: block !important; width: 100%; position: absolute; top: 0; right: 10px; }


	/* =============
	HOME PAGE
	================ */
	.home-page {
		section {
			&.locations {
				> div {
					h2 { height: 37px; }
					&.double { width: 100%; }
					&.single:nth-of-type(2) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(3) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(4) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(5) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(6) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.double:nth-of-type(7) { width: 50%; }
				}
			}// END LOCATION

	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a {
		                    /*
	                        .desc { position: absolute; bottom: 15px; left: 20px; right: 20px; color: @orange; .transition(bottom .33s ease);
	                            h4 { margin-top: 0; margin-bottom: 3px; color: @white; font-size: 1rem; .text-overflow(); text-transform: uppercase; font-family: @oswald; }
	                            p { color: @white; .text-overflow() }
	                            .md-button { display: inline-block; position: absolute; left: 0; bottom: -30px; width: 95px; margin: 0 auto; visibility: hidden; opacity: 0; text-align: center; }
	                        }
	                        &:hover, &:focus { .box-shadow(inset 0 0 0 1000px rgba(0,0,0,0.4));
	                            .desc { bottom: 50px;
	                                .md-button { visibility: visible; opacity: 1; }
	                            }
	                        }
	                        */
	                    }
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; }
	                }
	
	                .blog {
	                    a { 
		                    /*
	                        .desc { position: absolute; bottom: 15px; left: 20px; right: 20px; color: @orange; .transition(bottom .33s ease);
	                            h3 { color: @white; margin-top: 5px; margin-bottom: 5px; font-weight: 400; .text-overflow(); text-transform: uppercase; font-family: @oswald;
	                                .date { color: @orange; font-weight: 400; }
	                            }
	                            p { color: @white; .text-overflow(); }
	                            .md-button { display: inline-block; position: absolute; left: 0; bottom: -30px; width: 95px; margin: 0 auto; visibility: hidden; opacity: 0; text-align: center; }
	                        }
	
	                        &:hover, &:focus { .box-shadow(inset 0 0 0 1000px rgba(0,0,0,0.4));
	                            .desc { bottom: 50px;
	                                .md-button { visibility: visible; opacity: 1; }
	                            }
	                        }
	                        */
	                    }
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(7) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(8) { width: 50%; margin-right: 0; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}
}

@media all and (max-width: 840px) {
	
	/* =============
	HOME PAGE
	================ */
	.home-page {
	    section {
	        &.locations {
	            > div { 
	                &.double { width: 100% !important; }
	                &.single { width: 100% !important; margin-right: 0 !important; }
	            }
	        }
	    }
	}//END HOME PAGE
	
	
	/* =============
	FOOTER
	================ */
	footer { 
	    .footer-box { width: 50%; margin-bottom: 25px; }
	    .footer-social { width: 50%;
	        .copyright { text-align: left; }
	    }
	}//END FOOTER
}


@media all and (max-width: 768px) {
	
	/* =============
	REGISTER AND LOGIN PAGE
	================ */
	.account {
		.register-box { padding-left: 0 !important; width: 100%; margin-bottom: 30px; }
		.login-box { padding-left: 0 !important; }
	}
	
}

@media all and (max-width: 640px) {
	
	/* =============
	HOME PAGE
	================ */	
	.home-page {
		section {
			&.locations {
				> div {
					&.double { width: 100%; }
					&.single:nth-of-type(2) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(3) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(4) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(5) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(6) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.double:nth-of-type(7) { width: 50%; }
				}
			}// END LOCATION

	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a {
		                    /*
	                        .desc { position: absolute; bottom: 15px; left: 20px; right: 20px; color: @orange; .transition(bottom .33s ease);
	                            h4 { margin-top: 0; margin-bottom: 3px; color: @white; font-size: 1rem; .text-overflow(); text-transform: uppercase; font-family: @oswald; }
	                            p { color: @white; .text-overflow() }
	                            .md-button { display: inline-block; position: absolute; left: 0; bottom: -30px; width: 95px; margin: 0 auto; visibility: hidden; opacity: 0; text-align: center; }
	                        }
	                        &:hover, &:focus { .box-shadow(inset 0 0 0 1000px rgba(0,0,0,0.4));
	                            .desc { bottom: 50px;
	                                .md-button { visibility: visible; opacity: 1; }
	                            }
	                        }
	                        */
	                    }
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; }
	                }
	
	                .blog {
	                    a:nth-of-type(1) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(2) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(3) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(4) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(5) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(6) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(7) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(8) { width: 100% !important; margin-right: 0 !important; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}// END HOME PAGE
	

	/* =============
	FOOTER
	================ */
	footer { 
	    .footer-box { width: 100%; margin-bottom: 25px; padding-right: 0;
	        .title-link { 
	             &:after { width: 100%; }
	        }
		 }
	    .footer-social { width: 66.666%;
	        .copyright { text-align: left; }
	    }
	}//END FOOTER

}

@media all and (max-width: 560px){
	
	/* =============
	HOME PAGE
	================ */	
	.home-page {
		section {
	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a:nth-of-type(1) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(2) { width: 100%; }
	                    a:nth-of-type(3) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(4) { width: 100%; }
	                    a:nth-of-type(5) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(6) { width: 100%; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}// END HOME PAGE
	
	
	/* =============
	REGISTER AND LOGIN PAGE
	================ */
	.account {
		.login-box { width: 100%; padding-left: 0 !important; }
	}
}

@media all and (max-width: 480px){
}