@import 'master.less';
@import 'mixins.less';

@media all and (max-width: 1064px){

	/* =============
	RESPONSIVE NAV
	================ */
	header { padding-top: 15px; padding-bottom: 18px; }
    .fullscreen-nav{ position: fixed; opacity: 0; visibility: hidden; top: 83px; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: calc(~"100vh - 83px"); flex-wrap: wrap; text-align: center; overflow: scroll; background: @white; .transition(all .33s ease);
        .bottom-nav { position: relative; margin: auto;
            nav { position: relative !important; width: 230px !important; margin: auto;
                ul {
                    li { display: block; width: 100%; margin-bottom: 15px;
                        a { padding: 0; font-size:1.3rem; line-height: 26px !important; }
                        &:after { content: none; }
                    }
                }
            }
            .title-border { display: block; margin: 20px auto; }
            .top-nav { position: relative !important; border-top: 1px solid #EEE; padding-top: 30px;
                ul {
                    li{ display: block;
                        a { font-size: 1rem; line-height: 1.2rem;
                            i { font-size: 1rem; line-height: 1.2rem; }
                        }
                    }
                }
            }
        }
        .lang-cur { width: 100%; }
        &.active { opacity: 1; visibility: visible; z-index: 10; }
    }
    #burger-nav { display: block !important; width: 100%; position: absolute; top: 0; right: 10px; }


	/* =============
	HOME PAGE
	================ */
	.home-page {
		section {
			&.locations {
				> div {
					h2 { height: 37px; }
					&.double { width: 100%; }
					&.single:nth-of-type(2) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(3) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(4) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(5) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(6) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.double:nth-of-type(7) { width: 50%; }
				}
			}// END LOCATION

	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; }
	                }
	
	                .blog {
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; margin-right: 0; }
	                    a:nth-of-type(7) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(8) { width: 50%; margin-right: 0; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}
	
	/* =============
	PROPERTY LISTING
	================ */
	.properties { width: 100%; .display-flex(); height: calc(~"100vh - 271px"); background: none; 
		.property-filter { width: 100%; margin-bottom: 20px;
			.first-filter { width: 100%; }
			.second-filter { width: 100%; padding: 30px 0; }
	
			.fieldset { width: 100%; .display-flex(); padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid #EEE; }
			
			 .label-price-range { width: 100%; font-family: @helvetica_neue_medium; font-size: 13px; }
			 .field-price-range { width: 100%; }
	
			 .label-custom { width: 100%; font-family: @helvetica_neue_medium; font-size: 13px; }
			 .field-custom { width: 100%; .display-flex(); }
			 
			 .field-bedroom		{ width: calc(~"50% - 10px"); margin-right: 10px; }
			 .field-bathroom	{ width: calc(~"50% - 10px"); margin-left: 10px; }
			 
			 .field-amenities-item { width: 50%; margin-bottom: 12px;}
			.more-filter {  width: calc(~"100% - 40px"); margin: 30px 20px 0 20px;
				.link { background: @orange; color: @white; padding: 10px 14px; .border-radius(3px); font-size: 13px; }
				.link:hover { cursor: pointer; }
			}
			
			.apply-filter { width: 50%; text-align: center; background: rgba(255,255,255,0.9); position: fixed; bottom: 0; left:0; padding-bottom: 10px; padding-top: 10px; z-index: 11;
				.apply { font-size: 14px; 
					button { }
				}
			}
		}
		.property-list { width: 50%; background: none; overflow-y: scroll; .display-flex(); height: calc(~"100vh - 271px");
			#box { width: calc(~"100% - 20px"); .display-flex(); margin-bottom: 10px; background: #FBFBFB;
				.box { width: calc(~"100% - 20px"); margin-left: 20px; margin-top: 20px; margin-bottom: 10px; background: @white; border: 1px solid #EEE; .transition (all 0.5s ease); position: relative; 
					a { color: @darkergrey; }
				}
				.img { width: 100%; height: 80%; position: relative;}
				.arrows { 
					.fa-angle-left { font-size: 40px; color: @white; text-align: left; position: absolute; left: 20px; top: 50%; .transform(translate(0,-120%)); } 
					.fa-angle-right { font-size: 40px; color: @white; text-align: right; position: absolute; right: 20px; top: 50%; .transform(translate(0,-120%));}
				}
				.name { font-family: @oswald; font-size: 14px; padding: 14px 20px 2px 20px; color: @darkergrey; }
				.desc { font-size: 13px; padding: 8px 20px 10px 20px; }
				.price { position: absolute; bottom: 2px; width: 100%; z-index: 3;
					span { color: @white; font-size: 14px; background: rgba(238,91,44,0.9); padding: 13px 20px 11px 20px; width: 50%; display: block; }
				}
				.box-links { .display-flex(); text-align: center; 
					.box-link-location { width: 100%; padding: 10px 20px 10px 20px; border-bottom: 1px solid #EEE; border-top: 1px solid #EEE;
						.fa-map-marker { font-size: 18px; }
					}
					.box-link-bed { width: 33.333%; border-right: 1px solid #EEE; padding: 8px 20px 1px 20px; 
						.fa-bed { font-size: 18px; }
					}
					.box-link-bath { width: 33.333%; border-right: 1px solid #EEE; padding: 5px 20px 1px 20px; 
						img { width: 17px; position: relative; top:4px; }
					}
					.box-link-detail { width: 33.333%; float: left; padding: 11px 20px 10px 20px; text-align: center; text-transform: uppercase; color: @darkergrey; font-size: 15px; font-family: @oswald; background: @orange; color: @white; }
				}
			}
		}
		.property-map { width: 50%; height: calc(~"100vh - 271px"); background: none; }
	}
	
	/* =============
	PROPERTY DETAIL
	================ */
	.property-detail { 
		.right-side {
			.enquiry { width: 100%; }
			.share { width: 100%; margin-top: 20px; float: left; text-align: center;
				.share {
					.print { width: 100%; margin-right: 0; margin-bottom: 15px; }
					.wishlist {  width: 100%; }
				}
				.sharing-buttons{
					.facebook { width: 100%; }
					.twitter { width: 100%; margin-right: 0; margin-left: 0; }
					.google-plus { width: 100%; }
				}
			}
		}
	}

}

@media all and (max-width: 840px) {
	
	/* =============
	HOME PAGE
	================ */
	.home-page {
	    section {
	        &.locations {
	            > div { 
	                &.double { width: 100% !important; }
	                &.single { width: 100% !important; margin-right: 0 !important; }
	            }
	        }
	    }
	}//END HOME PAGE
	
	
	/* =============
	PROPERTY LISTING
	================ */
	.properties { width: 100%; .display-flex(); height: calc(~"100vh - 271px"); background: none; 
		.property-filter { width: 100%; margin-bottom: 20px;
			.first-filter { width: 100%; }
			.second-filter { width: 100%; padding: 30px 0; }
	
			.fieldset { width: 100%; .display-flex(); padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid #EEE; }
			
			 .label-price-range { width: 100%; font-family: @helvetica_neue_medium; font-size: 13px; }
			 .field-price-range { width: 100%; }
	
			 .label-custom { width: 100%; font-family: @helvetica_neue_medium; font-size: 13px; }
			 .field-custom { width: 100%; .display-flex(); }
			 
			 .field-bedroom		{ width: calc(~"50% - 10px"); margin-right: 10px; }
			 .field-bathroom	{ width: calc(~"50% - 10px"); margin-left: 10px; }
			 
			 .field-amenities-item { width: 50%; margin-bottom: 12px;}
			.apply-filter { width: 100%; }
		}
		.property-list { width: 100%; }
		.property-map { width: 100%; }
	}

	
	/* =============
	FOOTER
	================ */
	footer { 
	    .footer-box { width: 50%; margin-bottom: 25px; }
	    .footer-social { width: 50%;
	        .copyright { text-align: left; }
	    }
	}//END FOOTER
}


@media all and (max-width: 768px) {
	
	/* =============
	REGISTER AND LOGIN PAGE
	================ */
	.account {
		.register-box { padding-left: 0 !important; width: 100%; margin-bottom: 30px; }
		.login-box { padding-left: 0 !important; }
	}


	/* =============
	PROPERTY DETAIL
	================ */
	.property-detail {
		.left-side 	{ width: 100%; }
		.right-side { width: 100%; padding-left: 0; margin-top: 30px;
			.share {
				.print { width: calc(~"50% - 10px"); margin-right: 10px; margin-bottom: 15px; }
				.wishlist {  width: 50%; }
			}
		}
	}
	
	
}

@media all and (max-width: 640px) {
	
	/* =============
	HOME PAGE
	================ */	
	.home-page {
		section {
			&.locations {
				> div {
					&.double { width: 100%; }
					&.single:nth-of-type(2) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(3) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(4) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.single:nth-of-type(5) { width: 50%; margin-right: 0; }
					&.single:nth-of-type(6) { width: calc(~"50% - 16px"); margin-right: 16px; }
					&.double:nth-of-type(7) { width: 50%; }
				}
			}// END LOCATION

	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a:nth-of-type(1) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(2) { width: 50%; }
	                    a:nth-of-type(3) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(4) { width: 50%; }
	                    a:nth-of-type(5) { width: calc(~"50% - 16px"); margin-right: 16px; }
	                    a:nth-of-type(6) { width: 50%; }
	                }
	
	                .blog {
	                    a:nth-of-type(1) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(2) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(3) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(4) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(5) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(6) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(7) { width: 100% !important; margin-right: 0 !important; }
	                    a:nth-of-type(8) { width: 100% !important; margin-right: 0 !important; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}// END HOME PAGE
	
		
	/* =============
	BLOG AND DETAIL
	================ */
	.blog { width: 100%; .display-flex();
		.blog-content { width: 100%;
			.blog-list { width: 100%; }
		}
		.blog-sidebar { width: 100%; padding-left: 0;
			.box { width: 100%; }
		}
	}
		

	/* =============
	PROPERTY LISTING
	================ */
	.properties { 
		.property-filter {
			 .field-amenities-item { width: 100%; }
		}
	}
	
	
	/* =============
	FOOTER
	================ */
	footer { 
	    .footer-box { width: 100%; margin-bottom: 25px; padding-right: 0;
	        .title-link { 
	             &:after { width: 100%; }
	        }
		 }
	    .footer-social { width: 66.666%;
	        .copyright { text-align: left; }
	    }
	}//END FOOTER

}

@media all and (max-width: 560px){
	
	/* =============
	HOME PAGE
	================ */	
	.home-page {
		section {
	        &.bottom-section {
	            .w66,
	            .w33 { width:100%; }
	            section {
	                .testimonials {
	                    a:nth-of-type(1) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(2) { width: 100%; }
	                    a:nth-of-type(3) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(4) { width: 100%; }
	                    a:nth-of-type(5) { width: 100%; margin-right: 0; }
	                    a:nth-of-type(6) { width: 100%; }
	                }
	            }
	        }//END TESTIMONIAL AND BLOG
		}
	}// END HOME PAGE
	
	
	/* =============
	REGISTER AND LOGIN PAGE
	================ */
	.account {
		.login-box { width: 100%; padding-left: 0 !important; }
	}
}

@media all and (max-width: 640px){
.lawyer-and-notary {
    .sidebar {
      width: 100% !important;
    }
    .main {
      width: 100% !important;
    }
 }
 
 .lawyer-notary-categories {
    .blog-sidebar {  
        .list-link { display: none; 
        }
    }
 } 

 header {
	> div {
		.fullscreen-nav {
			.bottom-nav {
				> nav {
				  ul {
					li {
						a {
							&:hover {
								border-bottom: none;
							}
						}
					 padding-right: 0px;
						.nav-sub-menu {
							position: relative;
                            width: 100%;
                            display: block;
                            border-left: none;
                            border-right: none;
                            border-bottom: none;
                            li {
                            	.nav-sub-menu-sub {
                            		position: relative;
                                    width: 100%;
                                    display: block;
                                    left: 0;
                                    border-left: none;
                                    border-right: none;
                                    border-bottom: none;
                            	}
                            	&:hover {
                            		border-left: none;
                                    background: #ffffff;
                            	}
                            }
						}
					  }
					}
				}
			}
		}
	}
 }

 .lawyer-notary-box-content {
 	.content {
 		table {
 		  margin: 0px 0px;
 			tr {
 				td:first-child  {
                    width: 60%;
                    padding-right: 0px;
 				}
 				td:not(:first-child) {
 					text-align: left;
                    width: 40%;
 				}
 			}
 		}
 		ul {
 		  margin: 0px 15px;
 		}
 	}
 }

 #jumbotron {
 	.categories  {
 		> .wrapper {
 			> a {
               width: 50%;
 			}
 		}
 	}
 	> .wrapper {
 		.category-btn {
 			line-height: 25px;
 			padding: 15px 15px 15px 40px;
 			display: block;
 			margin: 0 auto 20px auto;
 			width: 60%;
 			i {
 				position: absolute;
 				top: 20px;
 				margin-left: -37px;
 				left: auto;
 				line-height: 15px;
 			}
 		}
 	}
 }


}

@media all and (max-width: 480px){
 .sitemap {
    .list {
        .item {
          width: 100% !important;
        }
    }
 }
 #sell-poperty-main {
 	.sell-property-holder {
 		.input-propety-box {
           order: 2; 
           width: 100% !important;
           .input-holder {
           	 .label-custom {
           		width: 100%;
           		margin-bottom: 15px;
           	 }
           	 .field-custom-checkbox {
                width: 100%;
             }
             .field-amenities-item {
                width: 100%;
             }
           }
 		}
 		.map-property-box {
           order: 1; 
           width: 100% !important;
           background: #ccc;
           height: 500px;
        }
        .file-area {
        	width: calc(47%);
        	position: relative;
        	margin-bottom: 15px;
        }
        .rc-anchor-normal {
        	height: 74px;
        	width: 254px;
        }
 	}
 }
 .resource {
 	.row {
 		.link {
 			.two-col {
 			   .display-flex();
 				.list {
 					width: 100% !important;
 					&.image-wrapper {
 						display: none;
 					}
 				}
 			}
 		}
 	}
 }

 .home-page {
 	section.locations-search-icon {
 		 > div.single {
          width: 100%;
         }
         > div {
         	.desc {
         		div {
                  width: 100%;
         		}
         	}
         }
    }
 }

 .testimonial-detail {
 	.left-side {
      width: 100%;
      .testimonial-slide {
      	 .testimonial_detail_slide figure {
           height: 350px;
         }
      }   
    }
 }

 .testimonial-description {
 	.description {
 		width: 100%;
        padding-right: 0px;
        margin-top: 0px;
 		.detail-page {
 			.page-view-section-body {
 				.container {
 					.testimonial-user-holder {
 						.avatar-holder {
                           width: 30%;
                          text-align: center;
                        }
                        .the-testimonial {
                        	width: 70%;
                        	padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
}

#contact-main {
	.contact-holder {
		.input-propety-box {
			.input-holder {
			  .display-flex(); 
				.contact-form {
                    width: 100%;
                    padding: 0px 0px;
                    order: 2;
                }
                .content {
                    width: 100%;
                    order: 1;
                 }
             }
         }
     }
}

.account {
	.register-box {
       display: none;
	} 
}
.resource {
	.row {
		padding: 0px;
	}
}


}