/* FONT FAMILY */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* LAYOUT OPTIONS */
.flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flexbox-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexbox-between {
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flexbox-around {
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.fwidth {
  width: 100%;
}
.w80 {
  width: 80%;
}
.w33 {
  width: calc(100% / 3);
}
.w66 {
  width: calc((100% / 3) * 2);
}
.w75 {
  width: 75%;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-around {
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.justify-between {
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-start {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.align-right {
  text-align-last: right;
}
/* IMAGERY */
.fill-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ==========================================================================
FONT FACE : HELVETICA
========================================================================== */
@font-face {
  font-family: 'HelveticaNeueLightCondensodOb';
  src: url('../fonts/HelveticaNeueLightCondensodOb.eot');
  src: url('../fonts/HelveticaNeueLightCondensodOb.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLightCondensodOb.woff2') format('woff2'), url('../fonts/HelveticaNeueLightCondensodOb.woff') format('woff'), url('../fonts/HelveticaNeueLightCondensodOb.ttf') format('truetype'), url('../fonts/HelveticaNeueLightCondensodOb.svg#HelveticaNeueLightCondensodOb') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueUltraLightCondensod';
  src: url('../fonts/HelveticaNeueUltraLightCondensod.eot');
  src: url('../fonts/HelveticaNeueUltraLightCondensod.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueUltraLightCondensod.woff2') format('woff2'), url('../fonts/HelveticaNeueUltraLightCondensod.woff') format('woff'), url('../fonts/HelveticaNeueUltraLightCondensod.ttf') format('truetype'), url('../fonts/HelveticaNeueUltraLightCondensod.svg#HelveticaNeueUltraLightCondensod') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../fonts/HelveticaNeueBold.eot');
  src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueBold.woff2') format('woff2'), url('../fonts/HelveticaNeueBold.woff') format('woff'), url('../fonts/HelveticaNeueBold.ttf') format('truetype'), url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../fonts/HelveticaNeueMedium.eot');
  src: url('../fonts/HelveticaNeueMedium.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueMedium.woff2') format('woff2'), url('../fonts/HelveticaNeueMedium.woff') format('woff'), url('../fonts/HelveticaNeueMedium.ttf') format('truetype'), url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueCyrHeavy';
  src: url('../fonts/HelveticaNeueCyrHeavy.eot');
  src: url('../fonts/HelveticaNeueCyrHeavy.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueCyrHeavy.woff2') format('woff2'), url('../fonts/HelveticaNeueCyrHeavy.woff') format('woff'), url('../fonts/HelveticaNeueCyrHeavy.ttf') format('truetype'), url('../fonts/HelveticaNeueCyrHeavy.svg#HelveticaNeueCyrHeavy') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('../fonts/HelveticaNeueUltraLight.eot');
  src: url('../fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueUltraLight.woff2') format('woff2'), url('../fonts/HelveticaNeueUltraLight.woff') format('woff'), url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype'), url('../fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('../fonts/HelveticaNeueRegular.eot');
  src: url('../fonts/HelveticaNeueRegular.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueRegular.woff2') format('woff2'), url('../fonts/HelveticaNeueRegular.woff') format('woff'), url('../fonts/HelveticaNeueRegular.ttf') format('truetype'), url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'), url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLight.woff2') format('woff2'), url('../fonts/HelveticaNeueLight.woff') format('woff'), url('../fonts/HelveticaNeueLight.ttf') format('truetype'), url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueCondensod';
  src: url('../fonts/HelveticaNeueCondensod.eot');
  src: url('../fonts/HelveticaNeueCondensod.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueCondensod.woff2') format('woff2'), url('../fonts/HelveticaNeueCondensod.woff') format('woff'), url('../fonts/HelveticaNeueCondensod.ttf') format('truetype'), url('../fonts/HelveticaNeueCondensod.svg#HelveticaNeueCondensod') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueBoldCondensod';
  src: url('../fonts/HelveticaNeueBoldCondensod.eot');
  src: url('../fonts/HelveticaNeueBoldCondensod.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueBoldCondensod.woff2') format('woff2'), url('../fonts/HelveticaNeueBoldCondensod.woff') format('woff'), url('../fonts/HelveticaNeueBoldCondensod.ttf') format('truetype'), url('../fonts/HelveticaNeueBoldCondensod.svg#HelveticaNeueBoldCondensod') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueThinCondensod';
  src: url('../fonts/HelveticaNeueThinCondensod.eot');
  src: url('../fonts/HelveticaNeueThinCondensod.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueThinCondensod.woff2') format('woff2'), url('../fonts/HelveticaNeueThinCondensod.woff') format('woff'), url('../fonts/HelveticaNeueThinCondensod.ttf') format('truetype'), url('../fonts/HelveticaNeueThinCondensod.svg#HelveticaNeueThinCondensod') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url('../fonts/HelveticaNeueRoman.eot');
  src: url('../fonts/HelveticaNeueRoman.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueRoman.woff2') format('woff2'), url('../fonts/HelveticaNeueRoman.woff') format('woff'), url('../fonts/HelveticaNeueRoman.ttf') format('truetype'), url('../fonts/HelveticaNeueRoman.svg#HelveticaNeueRoman') format('svg');
}
/*
.translate(@x,@y){
    .transform(translate(@x,@y));
}*/
@media all and (max-width: 1064px) {
  /* =============
	RESPONSIVE NAV
	================ */
  header {
    padding-top: 15px;
    padding-bottom: 18px;
  }
  .fullscreen-nav {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 83px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc(100vh - 83px);
    flex-wrap: wrap;
    text-align: center;
    overflow: scroll;
    background: #FFF;
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    transition: all 0.33s ease;
  }
  .fullscreen-nav .bottom-nav {
    position: relative;
    margin: auto;
  }
  .fullscreen-nav .bottom-nav nav {
    position: relative !important;
    width: 230px !important;
    margin: auto;
  }
  .fullscreen-nav .bottom-nav nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .fullscreen-nav .bottom-nav nav ul li a {
    padding: 0;
    font-size: 1.3rem;
    line-height: 26px !important;
  }
  .fullscreen-nav .bottom-nav nav ul li:after {
    content: none;
  }
  .fullscreen-nav .bottom-nav .title-border {
    display: block;
    margin: 20px auto;
  }
  .fullscreen-nav .bottom-nav .top-nav {
    position: relative !important;
    border-top: 1px solid #EEE;
    padding-top: 30px;
  }
  .fullscreen-nav .bottom-nav .top-nav ul li {
    display: block;
  }
  .fullscreen-nav .bottom-nav .top-nav ul li a {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .fullscreen-nav .bottom-nav .top-nav ul li a i {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .fullscreen-nav .lang-cur {
    width: 100%;
  }
  .fullscreen-nav.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  #burger-nav {
    display: block !important;
    width: 100%;
    position: absolute;
    top: 0;
    right: 10px;
  }
  /* =============
	HOME PAGE
	================ */
  .home-page section.locations > div h2 {
    height: 37px;
  }
  .home-page section.locations > div.double {
    width: 100%;
  }
  .home-page section.locations > div.single:nth-of-type(2) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.single:nth-of-type(3) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.locations > div.single:nth-of-type(4) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.single:nth-of-type(5) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.locations > div.single:nth-of-type(6) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.double:nth-of-type(7) {
    width: 50%;
  }
  .home-page section.bottom-section .w66,
  .home-page section.bottom-section .w33 {
    width: 100%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(1) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(2) {
    width: 50%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(3) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(4) {
    width: 50%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(5) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(6) {
    width: 50%;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(1) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(2) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(3) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(4) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(5) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(6) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(7) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(8) {
    width: 50%;
    margin-right: 0;
  }
  /* =============
	PROPERTY LISTING
	================ */
  .properties {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: calc(100vh - 271px);
    background: none;
  }
  .properties .property-filter {
    width: 100%;
    margin-bottom: 20px;
  }
  .properties .property-filter .first-filter {
    width: 100%;
  }
  .properties .property-filter .second-filter {
    width: 100%;
    padding: 30px 0;
  }
  .properties .property-filter .fieldset {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #EEE;
  }
  .properties .property-filter .label-price-range {
    width: 100%;
    font-family: 'HelveticaNeueMedium';
    font-size: 13px;
  }
  .properties .property-filter .field-price-range {
    width: 100%;
  }
  .properties .property-filter .label-custom {
    width: 100%;
    font-family: 'HelveticaNeueMedium';
    font-size: 13px;
  }
  .properties .property-filter .field-custom {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .properties .property-filter .field-bedroom {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .properties .property-filter .field-bathroom {
    width: calc(50% - 10px);
    margin-left: 10px;
  }
  .properties .property-filter .field-amenities-item {
    width: 50%;
    margin-bottom: 12px;
  }
  .properties .property-filter .more-filter {
    width: calc(100% - 40px);
    margin: 30px 20px 0 20px;
  }
  .properties .property-filter .more-filter .link {
    background: #ee5b2c;
    color: #FFF;
    padding: 10px 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 13px;
  }
  .properties .property-filter .more-filter .link:hover {
    cursor: pointer;
  }
  .properties .property-filter .apply-filter {
    width: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 11;
  }
  .properties .property-filter .apply-filter .apply {
    font-size: 14px;
  }
  .properties .property-list {
    width: 50%;
    background: none;
    overflow-y: scroll;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: calc(100vh - 271px);
  }
  .properties .property-list #box {
    width: calc(100% - 20px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background: #FBFBFB;
  }
  .properties .property-list #box .box {
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #FFF;
    border: 1px solid #EEE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
  }
  .properties .property-list #box .box a {
    color: #777;
  }
  .properties .property-list #box .img {
    width: 100%;
    height: 80%;
    position: relative;
  }
  .properties .property-list #box .arrows .fa-angle-left {
    font-size: 40px;
    color: #FFF;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -120%);
    -moz-transform: translate(0, -120%);
    -ms-transform: translate(0, -120%);
    -o-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
  .properties .property-list #box .arrows .fa-angle-right {
    font-size: 40px;
    color: #FFF;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translate(0, -120%);
    -moz-transform: translate(0, -120%);
    -ms-transform: translate(0, -120%);
    -o-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
  .properties .property-list #box .name {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 14px 20px 2px 20px;
    color: #777;
  }
  .properties .property-list #box .desc {
    font-size: 13px;
    padding: 8px 20px 10px 20px;
  }
  .properties .property-list #box .price {
    position: absolute;
    bottom: 2px;
    width: 100%;
    z-index: 3;
  }
  .properties .property-list #box .price span {
    color: #FFF;
    font-size: 14px;
    background: rgba(238, 91, 44, 0.9);
    padding: 13px 20px 11px 20px;
    width: 50%;
    display: block;
  }
  .properties .property-list #box .box-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .properties .property-list #box .box-links .box-link-location {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
  }
  .properties .property-list #box .box-links .box-link-location .fa-map-marker {
    font-size: 18px;
  }
  .properties .property-list #box .box-links .box-link-bed {
    width: 33.333%;
    border-right: 1px solid #EEE;
    padding: 8px 20px 1px 20px;
  }
  .properties .property-list #box .box-links .box-link-bed .fa-bed {
    font-size: 18px;
  }
  .properties .property-list #box .box-links .box-link-bath {
    width: 33.333%;
    border-right: 1px solid #EEE;
    padding: 5px 20px 1px 20px;
  }
  .properties .property-list #box .box-links .box-link-bath img {
    width: 17px;
    position: relative;
    top: 4px;
  }
  .properties .property-list #box .box-links .box-link-detail {
    width: 33.333%;
    float: left;
    padding: 11px 20px 10px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    background: #ee5b2c;
    color: #FFF;
  }
  .properties .property-map {
    width: 50%;
    height: calc(100vh - 271px);
    background: none;
  }
  /* =============
	PROPERTY DETAIL
	================ */
  .property-detail .right-side .enquiry {
    width: 100%;
  }
  .property-detail .right-side .share {
    width: 100%;
    margin-top: 20px;
    float: left;
    text-align: center;
  }
  .property-detail .right-side .share .share .print {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .property-detail .right-side .share .share .wishlist {
    width: 100%;
  }
  .property-detail .right-side .share .sharing-buttons .facebook {
    width: 100%;
  }
  .property-detail .right-side .share .sharing-buttons .twitter {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .property-detail .right-side .share .sharing-buttons .google-plus {
    width: 100%;
  }
}
@media all and (max-width: 840px) {
  /* =============
	HOME PAGE
	================ */
  .home-page section.locations > div.double {
    width: 100% !important;
  }
  .home-page section.locations > div.single {
    width: 100% !important;
    margin-right: 0 !important;
  }
  /* =============
	PROPERTY LISTING
	================ */
  .properties {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: calc(100vh - 271px);
    background: none;
  }
  .properties .property-filter {
    width: 100%;
    margin-bottom: 20px;
  }
  .properties .property-filter .first-filter {
    width: 100%;
  }
  .properties .property-filter .second-filter {
    width: 100%;
    padding: 30px 0;
  }
  .properties .property-filter .fieldset {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #EEE;
  }
  .properties .property-filter .label-price-range {
    width: 100%;
    font-family: 'HelveticaNeueMedium';
    font-size: 13px;
  }
  .properties .property-filter .field-price-range {
    width: 100%;
  }
  .properties .property-filter .label-custom {
    width: 100%;
    font-family: 'HelveticaNeueMedium';
    font-size: 13px;
  }
  .properties .property-filter .field-custom {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .properties .property-filter .field-bedroom {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .properties .property-filter .field-bathroom {
    width: calc(50% - 10px);
    margin-left: 10px;
  }
  .properties .property-filter .field-amenities-item {
    width: 50%;
    margin-bottom: 12px;
  }
  .properties .property-filter .apply-filter {
    width: 100%;
  }
  .properties .property-list {
    width: 100%;
  }
  .properties .property-map {
    width: 100%;
  }
  /* =============
	FOOTER
	================ */
  footer .footer-box {
    width: 50%;
    margin-bottom: 25px;
  }
  footer .footer-social {
    width: 50%;
  }
  footer .footer-social .copyright {
    text-align: left;
  }
}
@media all and (max-width: 768px) {
  /* =============
	REGISTER AND LOGIN PAGE
	================ */
  .account .register-box {
    padding-left: 0 !important;
    width: 100%;
    margin-bottom: 30px;
  }
  .account .login-box {
    padding-left: 0 !important;
  }
  /* =============
	PROPERTY DETAIL
	================ */
  .property-detail .left-side {
    width: 100%;
  }
  .property-detail .right-side {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  .property-detail .right-side .share .print {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .property-detail .right-side .share .wishlist {
    width: 50%;
  }
}
@media all and (max-width: 640px) {
  /* =============
	HOME PAGE
	================ */
  .home-page section.locations > div.double {
    width: 100%;
  }
  .home-page section.locations > div.single:nth-of-type(2) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.single:nth-of-type(3) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.locations > div.single:nth-of-type(4) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.single:nth-of-type(5) {
    width: 50%;
    margin-right: 0;
  }
  .home-page section.locations > div.single:nth-of-type(6) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.locations > div.double:nth-of-type(7) {
    width: 50%;
  }
  .home-page section.bottom-section .w66,
  .home-page section.bottom-section .w33 {
    width: 100%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(1) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(2) {
    width: 50%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(3) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(4) {
    width: 50%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(5) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(6) {
    width: 50%;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(1) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(2) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(3) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(4) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(5) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(6) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(7) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .home-page section.bottom-section section .blog a:nth-of-type(8) {
    width: 100% !important;
    margin-right: 0 !important;
  }
  /* =============
	BLOG AND DETAIL
	================ */
  .blog {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog .blog-content {
    width: 100%;
  }
  .blog .blog-content .blog-list {
    width: 100%;
  }
  .blog .blog-sidebar {
    width: 100%;
    padding-left: 0;
  }
  .blog .blog-sidebar .box {
    width: 100%;
  }
  /* =============
	PROPERTY LISTING
	================ */
  .properties .property-filter .field-amenities-item {
    width: 100%;
  }
  /* =============
	FOOTER
	================ */
  footer .footer-box {
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
  }
  footer .footer-box .title-link:after {
    width: 100%;
  }
  footer .footer-social {
    width: 66.666%;
  }
  footer .footer-social .copyright {
    text-align: left;
  }
}
@media all and (max-width: 560px) {
  /* =============
	HOME PAGE
	================ */
  .home-page section.bottom-section .w66,
  .home-page section.bottom-section .w33 {
    width: 100%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(1) {
    width: 100%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(2) {
    width: 100%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(3) {
    width: 100%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(4) {
    width: 100%;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(5) {
    width: 100%;
    margin-right: 0;
  }
  .home-page section.bottom-section section .testimonials a:nth-of-type(6) {
    width: 100%;
  }
  /* =============
	REGISTER AND LOGIN PAGE
	================ */
  .account .login-box {
    width: 100%;
    padding-left: 0 !important;
  }
}
@media all and (max-width: 640px) {
  .lawyer-and-notary .sidebar {
    width: 100% !important;
  }
  .lawyer-and-notary .main {
    width: 100% !important;
  }
  .lawyer-notary-categories .blog-sidebar .list-link {
    display: none;
  }
  header > div .fullscreen-nav .bottom-nav > nav ul li {
    padding-right: 0px;
  }
  header > div .fullscreen-nav .bottom-nav > nav ul li a:hover {
    border-bottom: none;
  }
  header > div .fullscreen-nav .bottom-nav > nav ul li .nav-sub-menu {
    position: relative;
    width: 100%;
    display: block;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  header > div .fullscreen-nav .bottom-nav > nav ul li .nav-sub-menu li .nav-sub-menu-sub {
    position: relative;
    width: 100%;
    display: block;
    left: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  header > div .fullscreen-nav .bottom-nav > nav ul li .nav-sub-menu li:hover {
    border-left: none;
    background: #ffffff;
  }
  .lawyer-notary-box-content .content table {
    margin: 0px 0px;
  }
  .lawyer-notary-box-content .content table tr td:first-child {
    width: 60%;
    padding-right: 0px;
  }
  .lawyer-notary-box-content .content table tr td:not(:first-child) {
    text-align: left;
    width: 40%;
  }
  .lawyer-notary-box-content .content ul {
    margin: 0px 15px;
  }
  #jumbotron .categories > .wrapper > a {
    width: 50%;
  }
  #jumbotron > .wrapper .category-btn {
    line-height: 25px;
    padding: 15px 15px 15px 40px;
    display: block;
    margin: 0 auto 20px auto;
    width: 60%;
  }
  #jumbotron > .wrapper .category-btn i {
    position: absolute;
    top: 20px;
    margin-left: -37px;
    left: auto;
    line-height: 15px;
  }
}
@media all and (max-width: 480px) {
  .sitemap .list .item {
    width: 100% !important;
  }
  #sell-poperty-main .sell-property-holder .input-propety-box {
    order: 2;
    width: 100% !important;
  }
  #sell-poperty-main .sell-property-holder .input-propety-box .input-holder .label-custom {
    width: 100%;
    margin-bottom: 15px;
  }
  #sell-poperty-main .sell-property-holder .input-propety-box .input-holder .field-custom-checkbox {
    width: 100%;
  }
  #sell-poperty-main .sell-property-holder .input-propety-box .input-holder .field-amenities-item {
    width: 100%;
  }
  #sell-poperty-main .sell-property-holder .map-property-box {
    order: 1;
    width: 100% !important;
    background: #ccc;
    height: 500px;
  }
  #sell-poperty-main .sell-property-holder .file-area {
    width: calc(47%);
    position: relative;
    margin-bottom: 15px;
  }
  #sell-poperty-main .sell-property-holder .rc-anchor-normal {
    height: 74px;
    width: 254px;
  }
  .resource .row .link .two-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .resource .row .link .two-col .list {
    width: 100% !important;
  }
  .resource .row .link .two-col .list.image-wrapper {
    display: none;
  }
  .home-page section.locations-search-icon > div.single {
    width: 100%;
  }
  .home-page section.locations-search-icon > div .desc div {
    width: 100%;
  }
  .testimonial-detail .left-side {
    width: 100%;
  }
  .testimonial-detail .left-side .testimonial-slide .testimonial_detail_slide figure {
    height: 350px;
  }
  .testimonial-description .description {
    width: 100%;
    padding-right: 0px;
    margin-top: 0px;
  }
  .testimonial-description .description .detail-page .page-view-section-body .container .testimonial-user-holder .avatar-holder {
    width: 30%;
    text-align: center;
  }
  .testimonial-description .description .detail-page .page-view-section-body .container .testimonial-user-holder .the-testimonial {
    width: 70%;
    padding-left: 30px;
  }
  #contact-main .contact-holder .input-propety-box .input-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #contact-main .contact-holder .input-propety-box .input-holder .contact-form {
    width: 100%;
    padding: 0px 0px;
    order: 2;
  }
  #contact-main .contact-holder .input-propety-box .input-holder .content {
    width: 100%;
    order: 1;
  }
  .account .register-box {
    display: none;
  }
  .resource .row {
    padding: 0px;
  }
}
