// out: null

/* RESET */
html, body{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

// Color Palette, Google
@gred: #F44336;
@gpink: #E91E63;
@gsalmon: #FF4081;
@gpurple: #9C27B0;
@gdeeppurple: #673AB7;
@gindigo: #3F51B5;
@gblue: #2196F3;
@glightblue: #03A9F4;
@gcyan: #00BCD4;
@gteal: #009688;
@ggreen: #4CAF50;
@glightgreen: #8BC34A;
@glime: #CDDC39;
@gyellow: #FFEB3B;
@gamber: #FFC107;
@gorange: #FF9800;
@deeporange: #FF5722;
@gbrown: #795548;
@ggrey: #9E9E9E;
@gbluegrey: #607D8B;
@base: #02244C;
@gblack: #323232;
@kibarer_orange: #ee5b2c;

*{
    font-family: 'Roboto', 'Open-Sans', sans-serif;
    font-size: 12px;
}
h1{
    font-size: 24px;
    margin: 0;
}
h3{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
// RESET ME NIGGA
p{
    font-size: 12px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #323232;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
}

button{
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    background-color: transparent;

    &:focus{
        outline: 0;
    }
}

table{
    width: 100%;
}

/* GLOBAL VALUES */


// OLD
/* LAYOUT OPTIONS */
.flexbox{
    .flex-block();

    &-wrap{
        .flex-wrap(wrap);
    }

    &-between{
        .justify-content(space-between);
    }

    &-around{
        .justify-content(space-around);
    }

    &-start{
        .justify-content(flex-start);
    }

    &-end{
        .justify-content(flex-end);
    }
}

.fwidth{
    width: 100%;
}

.w80{
    width: 80%;
}

.w33{
    width: calc(~"100% / 3");
}

.w66{
    width: calc(~"(100% / 3) * 2");
}

.w75{
    width: 75%;
}

.w50{
    width: 50%;
}

.w25{
    width: 25%;
}

.w20{
    width: 20%;
}

.row{
    max-width: 1200px;
    margin: 0 auto;
}

.w25-9{
    width: calc(~"25% - 9px");
}

.w80-8{
    width: calc(~"80% - 8px");
}

.w20-8{
    width: calc(~"20% - 8px");
}

.w33-8{
    width: calc(~"(100% / 3) - 8px");
}

.w40-8{
    width: calc(~"40% - 8px");
}

.w66-8{
    width: calc(~"((100% / 3) * 2) - 8px");
}

.w75-8{
    width: calc(~"75% - 8px");
}

.w50-8{
    width: calc(~"50% - 8px");
}

.w25-8{
    width: calc(~"25% - 8px");
}

.w80-6{
    width: calc(~"80% - 6px");
}

.w20-6{
    width: calc(~"20% - 6px");
}

.w33-6{
    width: calc(~"(100% / 3) - 6px");
}

.w66-6{
    width: calc(~"((100% / 3) * 2) - 6px");
}

.w75-6{
    width: calc(~"75% - 6px");
}

.w50-6{
    width: calc(~"50% - 6px");
}

.w25-6{
    width: calc(~"25% - 6px");
}

.w80-12{
    width: calc(~"80% - 12px");
}

.w20-12{
    width: calc(~"20% - 12px");
}

.w33-12{
    width: calc(~"(100% / 3) - 12px");
}

.w66-12{
    width: calc(~"((100% / 3) * 2) - 12px");
}

.w75-12{
    width: calc(~"75% - 12px");
}

.w50-12{
    width: calc(~"50% - 12px");
}

.w25-12{
    width: calc(~"25% - 12px");
}

.w25-24{
    width: calc(~"25% - 24px");
}

.justify{

    &-center{
        .justify-content(center);
    }

    &-around{
        .justify-content(space-around);
    }

    &-between{
        .justify-content(space-between);
    }

    &-start{
        .justify-content(flex-start);
    }

    &-end{
        .justify-content(flex-end);
    }
}

.align{

    &-left{
        text-align: left;
    }

    &-center{
        text-align: center;
    }

    &-right{
        text-align: right;
    }
}

/* TABLES */
table{

    &.list{

        tr{

            td{

                .table-item-select{
                    width: 16px;
                    height: 16px;
                    .relative();
                    border-radius: 50%;
                    border: 1px solid #d3d3d3;

                    &.checked{
                        border-color: @glightblue;

                        &:after{
                            content: "+";
                            text-indent: -99999px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            position: absolute;
                            background-color: @glightblue;
                            top: 2px;
                            left: 2px;
                        }
                    }
                }
            }
        }

        thead{

            tr{

                td{
                    color: #646464;
                    font-weight: 700;
                    padding: 16px 8px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }

        tbody{

            tr{

                td{
                    padding: 8px;
                    color: #646464;

                    &.table-item-options{
                        .relative();

                        .table-item-more{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            .transition();

                            i{
                                line-height: 32px;
                            }

                            &:hover{
                                background-color: white;
                                .shadow();
                            }
                        }

                        .table-item-menu{
                            opacity: 0;
                            visibility: hidden;
                            position: absolute;
                            min-width: 140px;
                            top: 36px;
                            right: 40px;
                            background: #fff;
                            border-radius: 2px;
                            .transition();
                            .shadow();

                            li{
                                padding: 0px;

                                button{
                                    padding: 8px 10px;
                                    text-transform: uppercase;
                                    display: inline-block;
                                    width: 100%;
                                    text-align: left;

                                    &:hover{
                                        background-color: #fafafa;
                                    }
                                }

                                &:first-child{

                                    button{
                                        padding-top: 12px;
                                    }
                                }

                                &:last-child{

                                    button{
                                        padding-bottom: 12px;
                                    }
                                }
                            }

                            &.active{
                                opacity: 1;
                                visibility: visible;
                                .transform(translate3d(0, 4px, 0));
                            }
                        }
                    }
                }
            }
        }
    }

    &.media{

    }

    &.tree{

    }
}

.m-table-list{

    thead{

        td{
            .relative();
            padding: 16px 8px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

            .m-table-item-select{

                &-all{

                }
            }

            &.sortAsc, &.sortDesc{

                &:after{
                    content: "";
                    position: absolute;
                    height: 0px;
                    border-bottom: 4px solid #6f6f6f;
                    border-left: 4px solid Transparent;
                    border-right: 4px solid Transparent;
                    top: 0;
                    bottom: 0;
                    right: 16px;
                    margin: auto;
                }
            }

            &.sortDesc{
                border-bottom: 0;
                border-top: 4px solid #6f6f6f;
            }
        }
    }

    tbody{

        tr{

            td{

                .m-table-item-select{

                    &-single{

                    }
                }

                &.m-table-item-options{
                    .relative();

                    .m-list-item-more{
                        width: 32px;
                        height: 32px;
                        display: block;
                        text-align: center;
                        border-radius: 50%;
                        transition: all .33s ease;

                        i{
                            line-height: 32px;
                        }

                        &:hover{
                            background: #fff;
                            box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
                        }
                    }

                    .m-list-item-option{
                        position: absolute;
                        background: #fdfdfd;
                        right: 40px;
                        top: 40px;
                        box-shadow: 0 2px 10px rgba(0,0,0,.2);
                        overflow: hidden;
                        width: 0;
                        max-height: 0;
                        transition: all .11s ease;
                        z-index: 25;
                        border-radius: 2px;

                        ul{

                            li{
                                text-align: left;

                                a{
                                    padding: 10px;
                                    width: 100%;
                                    display: inline-block;
                                    text-transform: uppercase;
                                    box-sizing: border-box;
                                    font-weight: 500;

                                    &:hover{
                                        background: #f1f1f1;
                                    }
                                }
                            }
                        }

                        &.active{
                            width: 140px;
                            max-height: 108px;
                        }
                    }
                }
            }
        }
    }

    td{
        padding: 8px;
        color: #646464;

        .m-table-item-select{
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #d3d3d3;
            border-radius: 50%;
            .relative();
            transition: border .11s ease 0s;

            i{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 0;
                height: 0;
                border-radius: 50%;
                display: block;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                transition: all .11s ease;
            }
        }
    }

    .m-table-list-item-select{
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        .relative();
        transition: border .11s ease .0s;

        i{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-radius: 50%;
            display: block;
            .transform(translate3d(0, 0, 0));
            transition: all .11s ease;
        }

        &.checked{
            border-color: #03A9F4;
            transition: border .11s ease .11s;

            i{
                width: 12px;
                height: 12px;
                background-color: #03A9F4;
            }
        }
    }
}

.section-title{
    color: #646464;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
// END OF OLD




// GRID
[row]{
    max-width: 1200px;
    margin: 0 auto;
}

[fwidth]{
    width: 100%;
}
//////////

[w20]{
    width: 20%;
}

[w20-8]{
    width: calc(~"20% - 8px");
}

[w20-6]{
    width: calc(~"20% - 6px");
}

[w20-12]{
    width: calc(~"20% - 12px");
}
//////////

[w25]{
    width: 25%;
}

[w25-8]{
    width: calc(~"25% - 8px");
}

[w25-6]{
    width: calc(~"25% - 6px");
}

[w25-9]{
    width: calc(~"25% - 9px");
}

[w25-12]{
    width: calc(~"25% - 12px");
}

[w25-24]{
    width: calc(~"25% - 24px");
}
//////////

[w33]{
    width: calc(~"100% / 3");
}

[w33-8]{
    width: calc(~"(100% / 3) - 8px");
}

[w33-6]{
    width: calc(~"(100% / 3) - 6px");
}

[w33-12]{
    width: calc(~"(100% / 3) - 12px");
}
//////////

[w50]{
    width: 50%;
}

[w50-8]{
    width: calc(~"50% - 8px");
}

[w50-6]{
    width: calc(~"50% - 6px");
}

[w50-12]{
    width: calc(~"50% - 12px");
}
//////////

[w66]{
    width: calc(~"(100% / 3) * 2");
}

[w66-8]{
    width: calc(~"((100% / 3) * 2) - 8px");
}

[w66-6]{
    width: calc(~"((100% / 3) * 2) - 6px");
}

[w66-12]{
    width: calc(~"((100% / 3) * 2) - 12px");
}
//////////

[w75]{
    width: 75%;
}

[w75-8]{
    width: calc(~"75% - 8px");
}

[w75-6]{
    width: calc(~"75% - 6px");
}

[w75-12]{
    width: calc(~"75% - 12px");
}
//////////

[w80]{
    width: 80%;
}

[w80-8]{
    width: calc(~"80% - 8px");
}

[w80-6]{
    width: calc(~"80% - 6px");
}

[w80-12]{
    width: calc(~"80% - 12px");
}
//////////
// END OF GRID





// LAYOUT
.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

[align-left]{
    .align-left();
}

[align-center]{
    .align-center();
}

[align-right]{
    .align-right();
}

[justify-center]{
    .justify-content(center);
}

[justify-around]{
    .justify-content(space-around);
}

[justify-between]{
    .justify-content(space-between);
}

[justify-start]{
    .justify-content(flex-start);
}

[justify-end]{
    .justify-content(flex-end);
}
// END OF LAYOUT



.after{
    content: '+';
    text-indent: -999999px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.cursor{
    cursor: pointer;
}

.block{
    display: block;
}

.push-bottom{
    width: 100%;
    height: 140px;
}

.hidden{
    display: none;
}

.ghost{
    visibility: hidden;
    opacity: 0;
}

[hidden]{
    .hidden();
}

[ghost]{
    .ghost();
}

[flexbox]{
    .flex-block();
}

[flexwrap]{
    .flex-block();
    .flexwrap();
}

m-gallery-item{
    .relative();
    width: calc(100% / 6);
    display: block;
    height: 160px;
    .background();

    m-gallery-item-menu{
        .absolute();
        left: 0;
        right: 0;
        bottom: 0;
        height: 32px;
        .align-right();
        background-color: rgba(255, 255, 255, .35);

        m-button{
            width: 32px;
            height: 32px;
            padding: 4px 0;
            text-align: center;
        }
    }
}

m-progress-bar{
    .absolute();
    height: 4px;
    background: @gsalmon;
    top: 0;
    left: 0;
    right: 0%;
    .hardwareAccel();
    animation-duration: 1.5s;
    animation-name: progress-bar;
    animation-iteration-count: infinite;
}

m-template{
    padding-top: 16px;

    .empty-content{
        color: #d3d3d3;
        font-size: 44px;
        font-weight: 100;
    }

    &[dashboard]{

        m-dashboard-item{
            margin-bottom: 24px;

            >h3{
                color: #646464;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 12px;
                text-indent: 12px;
            }
        }
    }

    &[settings]{

        m-settings-group{
            display: block;
            width: 100%;
            margin-bottom: 24px;

            h3{
                .section-title();
                margin-bottom: 12px;
                text-indent: 12px;
            }

            m-settings-item{
                .flexbox();
                .transition();
                padding: 8px;
                .relative();
                overflow: hidden;

                &:nth-last-child(n+2) {

                    &:after{
                        .after();
                        position: absolute;
                        left: 16px;
                        right: 16px;
                        bottom: 0;
                        height: 1px;
                        background-color: rgba(0, 0, 0, .05);
                    }
                }

                i{
                    width: 32px;
                    height: 32px;
                    .transition();
                    line-height: 32px;
                    text-align: center;
                    opacity: .8;
                }

                m-settings-item-desc{
                    .flexbox();
                    .flexwrap();
                    .transition();
                    padding: 0 16px;
                    box-sizing: border-box;

                    m-settings-item-header{
                        width: 100%;
                        color: #323232;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    m-settings-item-detail{
                        color: #646464;
                    }
                }

                &[checkbox]{
                    cursor: default;

                    m-settings-item-desc{
                        width: calc(~"100% - 72px");
                    }
                }

                &[button]{
                    .cursor();

                    m-settings-item-desc{
                        width: calc(~"100% - 32px");
                    }

                    m-button{
                        position: absolute;
                        right: 0;
                    }
                }

                &:hover{
                    //                    padding: 12px 8px;
                }
            }
        }
    }

    &[list]{

        table{
            width: 100%;

            tr{

                td{
                    padding: 12px;
                    color: #646464;

                    m-list-item-check{
                        .relative();
                        .transition(all .05s ease);
                        display: inline-block;
                        .cursor();
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid #d3d3d3;

                        &:after{
                            .transition(all .05s ease);
                            .after();
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: 0;
                            height: 0;
                            .absolute();
                            border-radius: 50%;
                            background-color: #282a36;
                        }

                        &[checked]{
                            border-color: #282a36;

                            &:after{
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }

            thead{

                tr{

                    td{
                        .section-title();
                    }
                }
            }

            tbody{

                tr{

                    &:nth-child(odd){
                        background-color: #eee;
                    }

                    td{

                        &[button]{
                            padding: 0 12px;

                            m-table-list-more{
                                .relative();
                                .cursor();
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                text-align: center;
                                .transition();

                                i{
                                    line-height: 32px;
                                }

                                &:hover{
                                    background-color: white;
                                    .shadow();
                                }

                                m-list-menu{
                                    .card();
                                    position: absolute;
                                    top: 24px;
                                    right: 24px;
                                    max-height: 0;
                                    width: 0;
                                    padding: 0;
                                    z-index: 10;
                                    .transition(all .11s ease);

                                    m-list-menu-item{
                                        font-weight: 500;
                                        letter-spacing: .5px;
                                        .block();
                                        padding: 8px 12px;
                                        text-align: left;

                                        &:hover{
                                            background-color: #fafafa;
                                        }
                                    }

                                    &.active{
                                        max-height: 150px;
                                        width: 128px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

m-card{
    display: block;
    .card();

    &[blue]{
        .card();
        background: @gblue;
    }

    &[salmon]{
        .card();
        background: @gsalmon;
    }

    &[red]{
        .card();
        background: @gred;
    }

    &[purple]{
        .card();
        background: @gpurple;
    }

    &[teal]{
        .card();
        background: @gteal;
    }

    &[yellow]{
        .card();
        background: @gyellow;
    }

    &[base]{
        .card();
        background: @base;
    }
}

m-modal-wrapper{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    visibility: hidden;
    transition: all .22s ease .22s;
    background-color: rgba(0, 0, 0, .15);

    .modal-window{
        left: 0;
        right: 0;
        top: 56px;
        opacity: 0;
        z-index: 50;
        padding: 40px;
        margin: 0 auto;
        max-width: 1080px;
        background: white;
        position: absolute;
        border-radius: 2px;
        margin-bottom: 64px;
        padding-bottom: 16px;
        .transform-origin(top);
        box-sizing: border-box;
        backface-visibility: hidden;
        transition: all .22s ease 0s;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .28);
        .transform(scale(1.01) translateZ(0) perspective(500px) rotateX(3deg));

        > h3{
            color: #484848;
            font-size: 20px;
            text-align: left;
            font-weight: 700;
            margin-bottom: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .loading-screen{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: rgba(255, 255, 255, 0.85);
            border-radius: 2px;

            span{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 32px;
                height: 32px;
                margin: auto;
                position: absolute;
                padding-bottom: 24px;

                i{
                    color: #646464;
                    animation-duration: 1s;
                    animation-name: spinner-rotate;
                    animation-iteration-count: infinite;
                }
            }

            h3{
                font-weight: 700;
                height: 24px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                padding-top: 32px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                color: #646464;
            }
        }
    }

    &.active{
        opacity: 1;
        visibility: visible;
        transition: all .22s ease 0s;

        .modal-window{
            opacity: 1;
            transition: all .22s ease .22s;
            .transform(translate3d(0,-8px,0) scale(1) rotateX(0));
        }
    }

    &.loading{

        pointer-events: none;
    }
}

m-button{
    border: 0;
    padding: 0;
    color: #484848;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 14px;
    background: transparent;
    border-radius: 2px;
    letter-spacing: 1px;
    display: inline-block;
    transition: all .33s ease;
    text-transform: uppercase;
    -webkit-appearance: none;

    &.left{
        padding-left: 0;
        text-align: left;
    }

    &.right{
        padding-right: 0;
        text-align: right;
    }

    &.white{
        background: #fafafa;

        &:hover{
            background: white;
        }
    }

    &.red{
        color: white;
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &.teal{
        color: white;
        background: @gteal;

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &.red{
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &.salmon{
        color: white;
        background: @gsalmon;

        &:hover{
            background: lighten(@gsalmon, 10%);
        }
    }

    &.blue{
        color: white;
        background: @gblue;

        &:hover{
            background: lighten(@gblue, 10%);
        }
    }

    &.yellow{
        color: @gblue;
        background: @gyellow;

        &:hover{
            background: lighten(@gyellow, 10%);
        }
    }

    &.base{
        color: white;
        background: @base;

        &:hover{
            background: lighten(@base, 10%);
        }
    }

    &.black{
        color: white;
        background: @gblack;

        &:hover{
            background: lighten(@gblack, 10%);
        }
    }

    &.disabled{
        opacity: .65;
        pointer-events: none;
    }
}

m-ripple{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 720px;
    background: rgba(0, 0, 0, .15);
    border-radius: 50%;
    transform: scale(0);
    .transition(all .66s ease);
    margin-top: -360px;
    margin-left: -360px;
    opacity: 1;

    &.expand{
        transform: scale(1);
        opacity: 0;
    }
}

m-burger-button{
    width: 22px;
    height: 16px;
    display: block;
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    .cursor();

    span{
        .absolute();
        width: 100%;
        height: 2px;
        display: block;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        border-radius: 2px;
        .transition(all .11s ease);
    }

    &:after, &:before{
        display: block;
        content: '+';
        text-indent: -99999px;
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        border-radius: 2px;
        .transition(all .11s ease);
    }

    &:after{
        bottom: 0;
    }

    &:before{
        top: 0;
    }

    &.active{

        span{
            width: 80%;
        }

        &:after{
            transform: rotate(45deg) translate3d(-5px, 0, 0);
            width: 50%;
        }

        &:before{
            transform: rotate(-45deg) translate3d(-5px, 0, 0);
            width: 50%;
        }
    }
}

m-checkbox{
    width: 30px;
    height: 32px;
    position: relative;

    lever{
        top: 8px;
        width: 32px;
        height: 16px;
        border: 12px;
        pointer-events: none;
        display: inline-block;
        .relative();
        border-radius: 8px;
        background-color: #b8b8b8;
        .transition();

        &:after{
            content: '+';
            text-indent: -99999px;
            position: absolute;
            left: -2px;
            top: -2px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            .transition();
            .shadow();
        }
    }

    input{
        opacity: 0;
        position: absolute;

        &:checked{

            ~ lever{
                background-color: lighten(@kibarer_orange, 15%);

                &:after{
                    .transform(translate3d(14px, 0, 0));
                    background-color: @kibarer_orange;
                }
            }
        }
    }

    &:after{
        content: attr(data-label);
        font-weight: 700;
        color: #6d6d6d;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: absolute;
        left: 40px;
        top: 8px;
    }
}

m-fab{
    .cursor();
    .shadow();
    border: 0;
    padding: 0;
    width: 48px;
    color: white;
    height: 48px;
    z-index: 100;
    background: white;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    transition: all .2s ease;
    -webkit-appearance: none;

    i{
        line-height: 48px !important;
    }

    &[small]{
        width: 32px;
        height: 32px;
        background: @gteal;

        i{
            line-height: 32px;
            font-size: 18px;
        }

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &[red]{
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &[salmon]{
        background: @kibarer_orange;

        &:hover{
            background: lighten(@kibarer_orange, 10%);
        }
    }

    &[teal]{
        background: @gteal;

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &[blue]{
        background: @gblue;

        &:hover{
            background: lighten(@gblue, 10%);
        }
    }

    &[base]{
        background: @base;

        &:hover{
            background: lighten(@base, 10%);
        }
    }

    &:hover{
        //transform: scale(1.1);
    }
}

m-input-group{
    .flexwrap();

    h3{
        width: 100%;
        color: #323232;
        margin: 10px 0 20px;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    m-input-desc{
        margin-top: -8px;
        margin-bottom: 12px;
        display: block;
        color: #646464;
        letter-spacing: .5px;
    }
}

m-input{
    .block();
    .relative();
    margin-bottom: 24px;

    &:not(.neutral){

        label{
            top: 13px;
            left: 4px;
            color: #6d6d6d;
            font-weight: 500;
            position: absolute;
            letter-spacing: 1px;
            pointer-events: none;
            transition: all .22s ease;
            text-transform: uppercase;
        }
    }

    input{

        &[select]{
            .cursor();
            color: transparent;
            border-color: #323232 !important;

            ~ label{
                color: #323232;
                font-weight: 700;
            }
        }

        &:valid:not([select]), &:focus:not([select]){
            border-color: #323232;

            ~ label{
                font-size: 11px;
                font-weight: 700;
                .transform(translate3d(0, -22px, 0));
            }
        }

        &:focus:not([select]){

            ~ label{
                color: #323232;
            }
        }
    }

    select{

        ~ label{
            font-size: 11px;
            font-weight: 700;
            .transform(translate3d(0, -22px, 0));
        }
    }

    .m-image-preview{
        width: 100%;
        height: 100%;
        cursor: pointer;
        .relative();
        box-sizing: border-box;
        background-size: cover;
        border: 1px solid #d3d3d3;
        background-position: center;

        .drop-hint{
            margin: 0;
            width: 100%;
            color: #d3d3d3;
            font-size: 16px;
            font-weight: 400;
            line-height: 96px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    input[type=file]{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;

        &.file{
            opacity: 1;
            height: 32px;
        }
    }

    &[select]{

        &:before{
            content: attr(data-label);
            font-size: 11px;
            top: -7px;
            left: 4px;
            color: #6d6d6d;
            font-weight: 700;
            position: absolute;
            letter-spacing: 1px;
            pointer-events: none;
            transition: all .22s ease;
            text-transform: uppercase;
        }

        &:after{
            top: 0;
            height: 0;
            bottom: 0;
            right: 12px;
            content: "";
            margin: auto;
            display: block;
            position: absolute;
            border-top: 5px solid #323232;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }

        m-select{
            width: 100%;
            z-index: 1000;
            position: absolute;
            top: 0;
            left: 0;
            .card();
            padding: 0;
            max-height: 0;
            overflow: hidden;
            .block();
            .transition(all .22s ease);

            m-option{
                .cursor();
                padding: 12px 16px;
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;

                &:hover{
                    background-color: #fafafa;
                }
            }

            &.active{
                .transform(translate3d(0, -4px, 0));
                max-height: 200px;
                overflow: scroll;
            }
        }
    }

    &[number]{

        .number-format{
            top: 0;
            right: 4px;
            font-weight: 500;
            position: absolute;
        }
    }

    &[checkbox]{

        label{
            display: block;
            padding: 8px 0;
            font-weight: 700;
            .relative();
            cursor: pointer;

            input{
                opacity: 1;
                width: 24px;
                height: 14px;
            }
        }
    }

    &[picture]{
        width: 100%;
        text-align: center;
        border: 2px dashed #d3d3d3;
        padding: 32px 0;

        .drop-hint{
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            color: #d3d3d3;
        }
    }
}

m-error-dialog{
    display: block;
    padding: 16px;
    box-sizing: border-box;
    background: #FFCDD2;
    border: 2px dashed @gred;
    text-align: center;
    margin-bottom: 12px;

    m-error-message{
        font-size: 12px;
        font-weight: 500;
        color: #323232;
    }
}





// Mobile wizardry
[mobile-only]{

}

[tablet-only]{

}

[desktop-only]{

}

[tablet-and-smaller]{

}





/* IMAGERY */
.fill-background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    opacity: .25;
    .transition();

    &-fill{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &-50{
        opacity: .5;
    }

    &-75{
        opacity: .75;
    }

    &-hover{

        &:hover{
            opacity: 0;
        }
    }

    &-white{
        background-color: white;
    }
}

/* FORMS AND INPUTS */
input[type="text"], input[type="number"], input[type="password"], textarea{

    &:not(.medium-editor-toolbar-input), &:not(#pac-input) {
        border: 0;
        width: 100%;
        resize: none;
        font-weight: 500;
        padding: 12px 4px;
        letter-spacing: 1px;
        box-sizing: border-box;
        transition: all .33s ease;
        border-bottom: 1px solid #d3d3d3;

        &:focus{
            outline: 0;
            border-color: #646464;
        }
    }
}

input[type=checkbox]{
    opacity: 0;
    width: 48px;
    height: 24px;
    cursor: pointer;
    border-radius: 12px;
    display: inline-block;

    ~ .lever{
        top: 8px;
        width: 34px;
        height: 16px;
        position: absolute;
        border-radius: 8px;
        pointer-events: none;
        .transition(all .11s ease .11s);
        background-color: lighten(@ggrey, 10%);

        &:after{
            top: -2px;
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
            background-color: white;
            .transition(all .11s ease 0s);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    &:checked{

        ~ .lever{
            background-color: lighten(@kibarer_orange, 20%);

            &:after{
                background-color: @kibarer_orange;
                .transform(translate3d(14px, 0, 0));
            }
        }
    }

    &.visible {
        opacity: 1
    }
    &.check-all {
        margin-left: -5px;
    }
}

select{
    border: 0;
    outline: 0;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0;
    padding: 12px 4px;
    letter-spacing: 1px;
    box-sizing: border-box;
    -webkit-appearance: none;
    transition: all .33s ease;
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: 1px solid #323232;
}

input[type="file"]{

    &:focus{
        outline: 0;
    }
}

textarea{
    margin-bottom: -2px;
}

.m-input-wrapper{
    .relative();
    margin-bottom: 24px;

    &:not(.neutral){

        label{
            top: 13px;
            left: 4px;
            color: #6d6d6d;
            font-weight: 500;
            position: absolute;
            letter-spacing: 1px;
            pointer-events: none;
            transition: all .22s ease;
            text-transform: uppercase;
        }
    }

    input{

        &:valid, &:focus{
            border-color: #323232;

            ~ label{
                font-size: 11px;
                font-weight: 700;
                .transform(translate3d(0, -22px, 0));
            }
        }

        &:focus{

            ~ label{
                color: #323232;
            }
        }
    }

    select{

        ~ label{
            font-size: 11px;
            font-weight: 700;
            .transform(translate3d(0, -22px, 0));
        }
    }

    .m-image-preview{
        width: 100%;
        height: 100%;
        cursor: pointer;
        .relative();
        box-sizing: border-box;
        background-size: cover;
        border: 1px solid #d3d3d3;
        background-position: center;

        .drop-hint{
            margin: 0;
            width: 100%;
            color: #d3d3d3;
            font-size: 16px;
            font-weight: 400;
            line-height: 96px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    input[type=file]{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;

        &.file{
            opacity: 1;
            height: 32px;
        }
    }

    &-select{

        &:after{
            top: 0;
            height: 0;
            bottom: 0;
            right: 12px;
            content: "";
            margin: auto;
            display: block;
            position: absolute;
            border-top: 5px solid #323232;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }

    &-number{

        .number-format{
            top: 0;
            right: 4px;
            font-weight: 500;
            position: absolute;
        }
    }

    &-checkbox{

        label{
            display: block;
            padding: 8px 0;
            font-weight: 700;
            .relative();
            cursor: pointer;

            input{
                opacity: 1;
                width: 24px;
                height: 14px;
            }
        }
    }
}


.m-input-group{
    .flex-block();
    //.justify-content(space-between);

    h3{
        width: 100%;
        color: #323232;
        margin: 10px 0 20px;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &-half{

        .m-input-wrapper{
            width: calc(~"50% - 6px");
        }
    }

    &-third{

        .m-input-wrapper{
            width: calc(~"33.33% - 8px");
        }
    }
}

.shadow{
    transition: all .2s ease;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .14);

    &-hover{
        transition: all .2s ease;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .14);

        &:hover{
            box-shadow: 0 1px 5px rgba(0, 0, 0, .18);
        }
    }
}

.card{
    padding: 16px;
    overflow: hidden;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .14);
}

.md-card{
    padding: 16px;
    overflow: hidden;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .14);

    &-blue{
        background: @gblue;
    }

    &-salmon{
        background: @gsalmon;
    }

    &-red{
        background: @gred;
    }

    &-purple{
        background: @gpurple;
    }

    &-teal{
        background: @gteal;
    }

    &-yellow{
        background: @gyellow;
    }

    &-base{
        background: @base;
    }
}

.md-button{
    border: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 14px;
    background: transparent;
    border-radius: 2px;
    letter-spacing: 1px;
    display: inline-block;
    transition: all .33s ease;
    text-transform: uppercase;
    -webkit-appearance: none;

    &:hover{
    }

    &-icon{
        .relative();
        padding-left: 30px;

        i{
            top: 0;
            left: 4px;
            font-size: 20px;
            line-height: 36px;
            position: absolute;
        }
    }

    &-right{
        padding-right: 0;
    }

    &-left{
        padding-left: 0;
    }

    &-white{
        background: #fafafa;

        &:hover{
            background: white;
        }
    }

    &-red{
        color: white;
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &-teal{
        color: white;
        background: @gteal;

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &-red{
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &-salmon{
        color: white;
        background: @kibarer_orange;

        &:hover{
            background: lighten(@kibarer_orange, 10%);
        }
    }

    &-blue{
        color: white;
        background: @gblue;

        &:hover{
            background: lighten(@gblue, 10%);
        }
    }

    &-yellow{
        color: @gblue;
        background: @gyellow;

        &:hover{
            background: lighten(@gyellow, 10%);
        }
    }

    &-base{
        color: white;
        background: @base;

        &:hover{
            background: lighten(@base, 10%);
        }
    }

    &-black{
        color: white;
        background: @gblack;

        &:hover{
            background: lighten(@gblack, 10%);
        }
    }

    &.disabled{
        opacity: .65;
        pointer-events: none;
    }
}

.fab-button{
    border: 0;
    padding: 0;
    width: 48px;
    color: white;
    height: 48px;
    z-index: 100;
    background: white;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    transition: all .2s ease;
    -webkit-appearance: none;

    i{
        line-height: 48px;
    }

    &-small{
        width: 32px;
        height: 32px;
        background: @gteal;

        i{
            line-height: 32px;
            font-size: 18px;
        }

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &-red{
        background: @gred;

        &:hover{
            background: lighten(@gred, 10%);
        }
    }

    &-salmon{
        background: @gsalmon;

        &:hover{
            background: lighten(@gsalmon, 10%);
        }
    }

    &-teal{
        background: @gteal;

        &:hover{
            background: lighten(@gteal, 10%);
        }
    }

    &-blue{
        background: @gblue;

        &:hover{
            background: lighten(@gblue, 10%);
        }
    }

    &-base{
        background: @base;

        &:hover{
            background: lighten(@base, 10%);
        }
    }

    &:hover{
        //transform: scale(1.1);
    }
}


.modal-wrapper{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    visibility: hidden;
    transition: all .22s ease .22s;
    background-color: rgba(0, 0, 0, .15);

    .modal-window{
        left: 0;
        right: 0;
        top: 56px;
        opacity: 0;
        z-index: 50;
        padding: 40px;
        margin: 0 auto;
        max-width: 1080px;
        background: white;
        position: absolute;
        border-radius: 2px;
        margin-bottom: 64px;
        padding-bottom: 16px;
        .transform-origin(top);
        box-sizing: border-box;
        backface-visibility: hidden;
        transition: all .22s ease 0s;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .28);
        .transform(scale(1.01) translateZ(0) perspective(500px) rotateX(3deg));

        > h3{
            color: #484848;
            font-size: 20px;
            text-align: left;
            font-weight: 700;
            margin-bottom: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .loading-screen{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: rgba(255, 255, 255, 0.85);
            border-radius: 2px;

            span{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 32px;
                height: 32px;
                margin: auto;
                position: absolute;
                padding-bottom: 24px;

                i{
                    color: #323232;
                    font-size: 32px;
                    animation-duration: 1s;
                    animation-name: spinner-rotate;
                    animation-iteration-count: infinite;
                }
            }

            h3{
                font-size: 24px;
                font-weight: 700;
                color: #323232;
                height: 24px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                padding-top: 32px;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    &.active{
        opacity: 1;
        visibility: visible;
        transition: all .22s ease 0s;

        .modal-window{
            opacity: 1;
            transition: all .22s ease .22s;
            .transform(translate3d(0,-8px,0) scale(1) rotateX(0));
        }
    }

    &.loading{

        pointer-events: none;
    }
}

m-caroussel{
    .block();

    m-caroussel-header{
        padding-bottom: 3px;

        h3{
            color: #323232;
            font-weight: 400;
        }

        m-caroussel-switch-wrapper{
            padding-bottom: 4px;

            m-caroussel-switch{
                .cursor();
                color: grey;
                padding: 4px 8px;
                font-weight: 500;
                letter-spacing: 1px;
                border-bottom: 3px solid transparent;
                text-transform: uppercase;

                &.active{
                    color: #323232;
                    font-weight: 700;
                    border-color: #323232;
                }
            }
        }
    }

    m-caroussel-body{
        .block();
        .transition();
        overflow: hidden;
        .relative();

        m-caroussel-slider{
            .block();
            top: 0;
            left: 0;
            width: 100%;
            .transition();
            position: absolute;

            m-caroussel-slide{
                .block();
                width: calc(~"100% / 1");
                padding: 8px 0;
            }
        }
    }
}

.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* TEXT OPTIONS */
.to-lower{
    color: inherit;
    text-transform: lowercase;
}

/* ANIMATIONS */
@-webkit-keyframes spinner-rotate{
    0%{
        .transform(rotate(0deg));
    }
    100%{
        .transform(rotate(359deg));
    }
}

@-webkit-keyframes progress-bar{
    0%{
        left: 0%;
        right: 100%;
    }
    50%{
        left: 25%;
        right: 25%;
    }
    100%{
        left: 100%;
        right: 0%;
    }
}

/* MDI */
.mdi{
    font-size: 24px;
}

// NProgress
@ncolor: @kibarer_orange;

#nprogress{

    .bar{
        background: @ncolor;
        height: 4px;
    }

    .peg {
        box-shadow: 0 0 10px @ncolor, 0 0 5px @ncolor;
    }

    .spinner-icon {
        border-top-color: @ncolor;
        border-left-color: @ncolor;
    }
}

.color-primary {
    color: @kibarer_orange;
}
